<section class="github">
  <%-if github.image? -%>
    <h2><%= image_tag "providers/github.png", :class => "provider" %></h2>
  <%-end-%>
  <figure>
    <%-if github.image? -%>
      <%= image_tag github.image %>
    <%-else-%>
      <%= image_tag "providers/github.png", :class => "provider" %>
    <%-end-%>
  </figure>
  <p><%=github.name%></p>
  <%- if current_user.identities.count > 1 -%>
  <form action='<%=identity_path(github)%>' method="post">
    <input name="_method" type="hidden" value="delete"/>
    <input type="submit" name="submit" value="remove">
  </form>
  <%-end-%>
</section>