<section class="google">
  <%-if google_oauth2.image? -%>
    <h2>Google</h2>
  <%-end-%>
  <figure>
    <%-if google_oauth2.image? -%>
      <%= image_tag google_oauth2.image %>
    <%-else-%>
      <%= image_tag "providers/google.png", :class => "provider" %>
      <%= image_tag "providers/youtube.png", :class => "provider" %>
    <%-end-%>
  </figure>
  <p><%=google_oauth2.name%></p>
  <p><%=google_oauth2.email%></p>
  <button type="button">remove</button>
</section>