<section class="tumblr">
  <%-if tumblr.image? -%>
    <h2><%= image_tag "providers/tumblr.png", :class => "provider" %></h2>
  <%-end-%>
  <figure>
    <%-if tumblr.image? -%>
      <%= image_tag tumblr.image %>
    <%-else-%>
      <%= image_tag "providers/tumblr.png", :class => "provider" %>
    <%-end-%>
  </figure>
  <p><%=tumblr.name%></p>
  <%- if current_user.identities.count > 1 -%>
  <form action='<%=user_identity_path(current_user, tumblr)%>' method="post">
    <input name="_method" type="hidden" value="delete"/>
    <input type="submit" name="submit" value="remove">
  </form>
  <%-end-%>
</section>
