<section class="vimeo">
  <%-if vimeo.image? -%>
    <h2><%= image_tag "providers/vimeo.png", :class => "provider" %></h2>
  <%-end-%>
  <figure>
    <%-if vimeo.image? -%>
      <%= image_tag vimeo.image %>
    <%-else-%>
      <%= image_tag "providers/vimeo.png", :class => "provider" %>
    <%-end-%>
  </figure>
  <p><%=vimeo.name%></p>
  <%- if current_user.identities.count > 1 -%>
  <form action='<%=user_identity_path(current_user, vimeo)%>' method="post">
    <input name="_method" type="hidden" value="delete"/>
    <input type="submit" name="submit" value="remove">
  </form>
  <%-end-%>
</section>
