<section>
  <script type="text/javascript" charset="utf-8" src="https://js.stripe.com/v1/"></script>
  <script type="text/javascript">
    // this identifies your website in the createToken call below
    Stripe.setPublishableKey('<%=STRIPE_PUBLIC_KEY %>');
    $(document).ready(function() {
      $("#new_tip_order").submit(function(event) {

        $('#new_tip_order > input').attr("disabled", "disabled"); // disable the submit button to prevent repeated clicks

        var amount_in_cents = 1000; //amount you want to charge in cents

        Stripe.createToken({
          number: $('#number').val(),
          cvc: $('#cvc').val(),
          exp_month: $('#month').val(),
          exp_year: $('#year').val()
        }, amount_in_cents, stripeResponseHandler);

        // prevent the form from submitting with the default action
        event.preventDefault();
      });
    });
    
    function stripeResponseHandler(status, response) {
      if (response.error) {
        //show the errors on the form
        $(".error_messages").html(response.error.message);
      } else {
        var form$ = $("#new_tip_order");
        // token contains id, last4, and card type
        var token = response['id'];
        // insert the token into the form so it gets submitted to the server
        form$.append("<input type='hidden' name='stripeToken' value='" + token + "'/>");
        // and submit
        form$.get(0).submit();
      }
    }
  </script>

  <%= form_for @tip_order do |f| %>
    <% if @tip_order.errors.any? %>
      <div class="error_messages">
        <h2><%= pluralize(@tip_order.errors.count, "error") %> prohibited this order from being processed:</h2>
        <ul>
        <% @tip_irders.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <label>Card Number</label>
      <input type="text" size="20" autocomplete="off" id="number" value="4242424242424242"/>
    </fieldset>
    <fieldset id="" class="">
      <label>CVC</label>
      <input type="text" size="4" autocomplete="off" id="cvc" value="666"/>
    </fieldset>
    <fieldset>
      <%= label_tag :card_month, "Expiration date" %>
      <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "month"}%>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "year"}%>
    </fieldset>
    <%= f.submit "confirm" %>
  <% end %>
</section>

