<section class="facebook">
  <%-if facebook.image? -%>
    <%= image_tag facebook.image %>
  <%-else-%>
    <%= image_tag "providers/facebook.png" %>
  <%-end-%>
  <dl>
    <dt>name</dt>
    <dd><%=facebook.name%></dd>
    <dt>email</dt>
    <dd><%=facebook.email%></dd>
    <dt>location</dt>
    <dd><%=facebook.location%></dd>
    <dt>image</dt>
    <dd><%=facebook.image%></dd>
    <dt>URLs</dt>
    <dd><%=facebook.urls%></dd>    
  </dl>
</section>