<section class="twitter">
  <%-if twitter.image? -%>
    <%= image_tag twitter.image %>
  <%-else-%>
    <%= image_tag "providers/twitter.png" %>
  <%-end-%>
  <dl>
    <dt>name</dt>
    <dd><%=twitter.name%></dd>
    <dt>email</dt>
    <dd><%=twitter.email%></dd>
    <dt>location</dt>
    <dd><%=twitter.location%></dd>
    <dt>image</dt>
    <dd><%=twitter.image%></dd>
    <dt>URLs</dt>
    <dd><%=twitter.urls%></dd>    
  </dl>
</section>
