<nav id="models">
  <a href="#users">users</a>
  <a href="#authors">authors</a>
  <a href="#pages">pages</a>
  <a href="#tips">tips</a>
  <a href="#orders">orders</a>
  <a href="#checks">checks</a>
</nav>
<section id="states">
  <article id="users">
    <details itemscoped itemid="/users/newest" draggable="true">
      <summary>recent</summary>
      <meta itemprop="count" content="<%=User.count%>">
    </details>
  </article>

  <article id="authors">
    <%-[:stranger, :wanted, :known].each do |state|-%>
    <details itemscoped itemid="/authors/#{state}" draggable="true">
      <summary><%=state%></summary>
      <meta itemprop="count" content="<%=Author.send(state).count%>">
    </details>
    <%-end-%>
  </article>

  <article id="pages">
    <%-[:adopted, :orphaned, :fostered, :dead, :manual].each do |state|-%>
    <details itemscoped itemid="/pages/<%=state%>" draggable="true">
      <summary><%=state%></summary>
      <meta itemprop="count" content="<%=Page.send(state).count%>">
    </details>
    <%-end-%>
  </article>

  <article id="tips">
    <%-[:promised, :charged, :kinged].each do |state|-%>
    <details itemscoped itemid="/tips/<%=state%>" draggable="true">
      <summary><%=state%></summary>
      <meta itemprop="count" content="<%=Tip.send(state).count%>">
    </details>
    <%-end-%>
  </article>

  <article id="orders">
    <%-[:current,:paid,:unpaid,:denied].each do |state|-%>
    <details itemscoped itemid="/orders/<%=state%>" draggable="true">
      <summary><%=state%></summary>
      <meta itemprop="count" content="<%=Order.send(state).count%>">
    </details>
    <%-end-%>
  </article>

  <article id="checks">
    <%-[:earned, :paid, :cashed].each do |state|-%>
    <details itemscoped itemid="/checks/<%=state%>" draggable="true">
      <summary><%=state%></summary>    
      <meta itemprop="count" content="<%=Check.send(state).count%>"></p>
    </details>
    <%-end-%>
  </article>
</section>

<section id="pallet"></section>

<script itemtype="template" itemscoped itemid="/templates/orders/header" type="text/html">
  <header>
  <form>
    <button formmethod="post" formaction="/orders/{{order.id}}/reject">make current</button>
    <button formmethod="post" formaction="/orders/{{order.id}}/refund">refund</button>
  </form>
  </header>
</script>

<script itemtype="template" itemscoped itemid="/templates/orders/footer" type="text/html">
  <footer>
    <details itemscope itemtype='user' itemid='/users/{{order.user_id}}'>
      <summary>{{order.user_name} details}</summary>
    </details>
    <details itemscope itemtype='tip' itemid='/orders/{{order.id}}/tips'>
      <summary>tips</summary>
    </details>
  </footer>
</script>





