<nav id="models">
  <a href="#users">users</a>
  <a href="#authors">authors</a>
  <a href="#pages">pages</a>
  <a href="#tips">tips</a>
  <a href="#orders">orders</a>
  <a href="#checks">checks</a>
</nav>
<section id="states">
  <article id="users">
    <details itemscoped itemid="/users/newest" draggable="true">
      <summary>recent</summary>
      <p><%=User.count%></p>
    </details>
  </article>

  <article id="authors">
    <%-[:stranger, :wanted, :known].each do |state|-%>
    <details itemscoped itemid="/authors/#{state}" draggable="true">
      <summary><%=state%></summary>    
      <p><%=Author.send(state).count%></p>
    </details>
    <%-end-%>
  </article>

  <article id="pages">
    <%-[:adopted, :orphaned, :fostered, :dead, :manual].each do |state|-%>
    <details itemscoped itemid="/pages/<%=state%>" draggable="true">
      <summary><%=state%></summary>
      <p><%=Page.send(state).count%></p>
    </details>
    <%-end-%>
  </article>

  <article id="tips">
    <%-[:promised, :charged, :kinged].each do |state|-%>
    <details itemscoped itemid="/tips/<%=state%>" draggable="true">
      <summary><%=state%></summary>
      <p><%=Tip.send(state).count%></p>
    </details>
    <%-end-%>
  </article>

  <article id="orders">
    <%-[:current,:paid,:unpaid,:denied].each do |state|-%>
    <details itemscoped itemid="/orders/<%=state%>" draggable="true">
      <summary><%=state%></summary>    
      <p><%=Order.send(state).count%></p>
    </details>
    <%-end-%>
  </article>

  <article id="checks">
    <%-[:earned, :paid, :cashed].each do |state|-%>
    <details itemscoped itemid="/checks/<%=state%>" draggable="true">
      <summary><%=state%></summary>    
      <p><%=Check.send(state).count%></p>
    </details>
    <%-end-%>
  </article>
</section>

<section id="pallet">

</section>




