<%-cache author do-%>
<section>
  <dl>
    <dt>ID</dt>
    <dd itemprop='id'><%=author.id%></dd>
    <dt>Created</dt>
    <dd><time itemprop="created_at" datetime="<%=author.created_at.getutc.iso8601%>"/></dd>
    <dt>updated</dt>
    <dd><time itemprop="updated_at" datetime="<%=author.updated_at.getutc.iso8601%>"/></dd>
    <dt>provider</dt>
    <dd itemprop="provider"><%=author.provider%></dd>
    <dt>provider ID</dt>
    <dd itemprop="uid"><%=author.uid%></dd>
    <dt>username</dt>
    <dd itemprop="username"><%=author.username%></dd>
    <dt>identity state</dt>
    <dd itemprop="identity_state"><%=author.identity_state%></dd>
    <dt>token</dt>
    <dd itemprop='token'><%=author.token%></dd>
    <dt>secret</dt>
    <dd itemprop='secret'><%=author.secret%></dd>
  </dl>
  <footer>
    <details itemscope itemtype='users' itemid='/users/<%=author.user_id%>'>
      <summary>User</summary>
    </details>
    <details itemscope itemtype='pages' itemid='/authors/<%=author.id%>/pages'>
      <summary>pages</summary>
    </details>
  </footer>
</section>
<%-end-%>