<%-content_for :head do-%>
  <title><%=@current_user.name%> author settings - copper.is</title>
<%-end-%>
<section id="banner">
  <header>
    <%= image_tag "icons/silhouette.svg", class:"identity", alt:'me' %>
  </header>
  <hgroup>
    <h1>Your settings</h1>
    <p><%=current_user.name%><a href="/signout">not you?</a></p>
  </hgroup>
  <p>
    We’re here for you through the big changes in life.
    Like changing your address. Or getting a new email account.
    You can update your info on this page. Check out our
    <a href="/privacy">privacy policy</a> for full details on
    how we use your information.
  </p>
</section>
<section id="identities" class="form">
  <header>
    <h2>Your identities</h2>
    <a href="#change_identities">Add/Remove</a>
  </header>
  <ul>
    <h2>Currently authorized</h2>
    <li>
      <%= image_tag "providers/facebook/sign_in.png"%>
    </li>
  </ul>
  <nav>
    <h2>Authorize other identities</h2>
    <a href="/auth/facebook" title="Authorize facebook">
      <%= image_tag "providers/facebook/sign_in.png"%>
    </a>
    <a href="/auth/twitter" title="Authorize twitter">
      <%= image_tag "providers/twitter/sign_in.png"%>
    </a>
    <a href="/auth/google_oauth2" title="Authorize google">
      <%= image_tag "providers/google/sign_in.png"%>
    </a>
    <a href="/auth/soundcloud" title="Authorize soundcloud">
      <%= image_tag "providers/soundcloud/sign_in.png"%>
    </a>
    <a href="/auth/vimeio" title="Authorize vimeo">
      <%= image_tag "providers/vimeo/sign_in.png"%>
    </a>
    <a href="/auth/tumblr" title="Authorize tumblr">
      <%= image_tag "providers/tumblr/sign_in.png"%>
    </a>
    <a href="/auth/github" title="Authorize github">
      <%= image_tag "providers/github/sign_in.png"%>
    </a>
    <a href="/auth/flickr" title="Authorize flickr">
      <%= image_tag "providers/flickr/sign_in.png"%>
    </a>
  </nav>
</section>
<section id="email" class="form">
  <header>
    <h2>Your Email</h2>
    <a>Change</a>
  </header>
  <div item="user">
    <h4>Email Address</h4>
    <p itemprop="email"><%=current_user.email%></p>
  </div>
  <form method="put" action="" accept-charset="UTF-8">
    <input itemprop="email" name='user[email]' type="email" required value="<%=current_user.email%>">
    <input type="submit" value="Save"/>
  </form>
</section>
<section id="address" class="form">
  <header>
    <h2>Your address</h2>
    <a>Change</a>
  </header>
  <div>
    <p itemprop="payable_to">kitty kardashean</p>
    <p itemprop="line1">123 Main St</p>
    <p itemprop="line2">apt 4</p>
    <p>
      <span itemprop='city'>Mainville</span>
      <span itemprop="subregion_code">CA</span> 
      <span itemprop="postal_code">94110</span>
    </p>
  </div>
  <%= render :partial => 'shared/address' %>
</section>
<nav>
  <a href="/authors/me">Return to profile</a>
</nav>
