<section id="banner">
  <header>
    <%= image_tag "icons/silhouette.svg", class:"identity", alt:'me' %>
  </header>
  <hgroup>
    <h1>Your Profile</h1>
    <p><%=@current_user.name%><a href="/signout">not you?</a></p>
  </hgroup>
  <p>
    Copper and tempus porttitor. Maecenas sed diam eget risus variusla ndit
    sit amet non magna. Curabitur blandit tempus porttitorumiis empus
    porttito  sit amet non ma  sitmet non marumiis.
  </p>
</section>
<section id="stats">
  <header>
    <h1>Your stats</h1>
  </header>
  <div>
    <h2>Tip count</h2>
    <p>24</p>
  </div>
  <div>
    <h2>Tips sent</h2>
    <p>75</p>
  </div>
  <div>
    <h2>Tips pending</h2>
    <p>5</p>
  </div>
  <div>
    <h2>highest tip</h2>
    <p>$10.25</p>
  </div>
  <div>
    <h2>Average tip</h2>
    <p>$0.75</p>
  </div>
  <div>
    <h2>Total tips</h2>
    <p>$6.12</p>
  </div>
</section>
<section id="tips">
  <header>
    <h1>What's been tipped</h1>
    <nav>
      <h2>Filter by</h2>
      <a class="selected">Most recent</a>
      <a>By site</a>
      <a>Status</a>
    </nav>
  </header>
  <ol>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
  </ol>
</section>
<section id="settings">
  <div>
    <header>
      <h3>Get the badge</h3>
      <p>
        Place this on your site to drive tips to your work! Select a size.
      </p>
      <select name="size" id="size" size="1">
        <option value="" disabled selected>Select Size</option>
        <option value="100">Small</option>
        <option value="145">Medium</option>
        <option value="175">large</option>
      </select>
    </header>
    <figure></figure>
  </div>
  <div>
    <header>
      <h3>Embed code</h3>
      <a>Copy to clipboard</a>
    </header>
    <textarea name=""></textarea>
  </div>
</section>
<nav>
  <a href="/fans/me/edit">Edit your settings</a>
</nav>
<script id="badge_template" type="text/x-jquery-tmpl">
  <img class="copper_badge" src="<%=request.scheme%>://<%=request.host%>:<%=request.port%>/assets/icons/button.png"
       style="cursor:pointer; width:${size}px;" title="Tip this content"
       onclick="<%= render :partial=>'home/wrapped_launcher', :formats=>[:js] %>">
</script>
