<section>
  <style>
    @import url("/users/design.css");
  </style>
  <script src="/users/behavior.js"></script>
  <h1>Setting things up</h1>
  <p>
    Configure your account by clicking on each section.
  </p>
  <details id="bookmarklet" open="closed" class="required">
    <summary>
      Install the bookmarklet
    </summary>
    <p>
      Drag bookmarklet to your browser toolbar.
    </p>
    <p>
      <span>&#x27A0;</span>
      <a id="weave_us" href="<%= render :partial => 'home/wrapped_launcher.js' %>" tabindex="1" accesskey="p">weave</a>
    </p>
  </details>
  <details id="authorize" open="closed" class="required">
    <summary>Authorize Tips</summary>
    <p>
      Log into your PayPal account to authorize us to pay the sites you tip
    </p>
    <p>
      <a href="#">Authorize</a>
    </p>
  </details>
  <details id="tip_rate" open="closed" class="">
    <summary>Select your tip rate</summary>
    <p>
      Select the amount you want each tip to be.
    </p>
    <% form_for @user, :url => (edit_user_path) do |f| %>
      <fieldset>
        <label for="user_tip_rate_id">Tip Rate</label>
        <select name="user[tip_rate_id]" id="user_tip_rate_id">
          <option value="5">$0.05</option>
          <option value="10">$0.10</option>
          <option value="50">$0.25</option>
          <option value="50" selected="true">$0.50</option>
          <option value="75">$0.75</option>
          <option value="100">$1.00</option>
          <option value="200">$2.00</option>
          <option value="300">$3.00</option>
          <option value="500">$5.00</option>
        </select>
      </fieldset>
    <% end %>
  </details>

  <details id="badge" open="closed" class="optional">
    <summary>Use the badge</summary>
    <p>
      Copy the contents of this box into the content you've created
    </p>
    <textarea name="copy">
      <img style="cursor:pointer; width:222px; height:222px" src="<%=request.scheme%>://<%=request.host%>:<%=request.port%>/bookmarklet/badge.png" onclick="<%= render :partial => 'home/launcher.js' %>"/>
    </textarea>
  </details>
</section>