<style>
  @import url("/account/design.css");
</style>
<h1>Account Settings</h1>
<% form_for @user, :url => (update_user_path) do |f| %>
  <fieldset>
    <label for="user_name">Name</label>
    <%= f.text_field :name %>

    <label for="user_email">Email</label>
    <%= f.text_field :email %>

    <label for="user_tip_rate">Tip Rate</label>
    <%= f.select(:tip_rate_id, @tip_rates) %>
  </fieldset>
  <%= f.submit "Save" %>
<% end %>

<% form_for @user, :url => (update_password_path)  do |f| %>
  <fieldset>
    <legend>Change your password</legend>
    <label for="current_password">Current password</label>
    <input type="password" name="user[current_password]" id="current_password" value=""/>

    <label for="user_password">New password</label>
    <input type="password" name="user[password]" id="password" value=""/>

    <label for="password_confirmation">Confirm new password</label>
    <input type="password" name="user[password_confirmation]" id="password_confirmation" value=""/>
  </fieldset>
  <%= f.submit "Change password" %>
<% end %>
