<% form_for @user do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>Authentication</legend>
    
    <label for="email"><%= f.label :email %></label>
    <%= f.text_field :email %>

    <label for="password"><%= f.label :password %></label>
    <%= f.password_field :password %>
    
    <label for="confirmation_confirmation"><%= f.label :password_confirmation %></label>
    <%= f.password_field :password_confirmation %>

  </fieldset>
  
  <fieldset>
    <legend>Billing information</legend>
    
  </fieldset>
  
  <%= f.submit "Submit" %>

<% end %>
