<% form_for @user do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <legend>authentication</legend>
    
    <label for="email"><%= f.label :email %></label>
    <%= f.text_field :email %><br/>

    <label for="password"><%= f.label :password %></label>
    <%= f.password_field :password %><br/>
    
    <label for="confirmation_confirmation"><%= f.label :password_confirmation %></label>
    <%= f.password_field :password_confirmation %><br/>

  </fieldset>
  
  <fieldset>
    <legend>Billing</legend>
    
  </fieldset>
  
  <fieldset>
  <%= f.submit "Submit" %>
  </fieldset>

<% end %>
