<%-content_for :head do-%>
  <title><%=current_user.name%> - Copper</title>
  <%= stylesheet_link_tag "users/show" %>
  <%= javascript_include_tag "users/show" %>
<%-end-%>
<section id="user">
  <h1>Account settings</h1>

  <section id="rate">
    <h2>Tip Rate</h2>
    <%= render :partial => 'shared/tip_rate' %>
    <p>
      Set the default amount for your bucks
    </p>
  </section>

  <section id="identity">
    <h2>Identities</h2>
    <div>
      <span><%= current_user.identities.count%></span>
      <a href="/users/current/identities">edit</a>
    </div>
    <p>
      Link the sites you have content on.
    </p>
  </section>

</section>