<%-content_for :head do-%>
  <title><%=current_user.name%> - Copper.</title>
<%-end-%>

<section id="banner">
  <header>
    <%= image_tag "icons/silhouette.svg", class:"identity", alt:'me' %>
  </header>
  <hgroup>
    <h1>Your Profile</h1>
    <p><%=@user.name%><a href="/signout">not you?</a></p>
  </hgroup>
  <p>
    This is your home on Copper. On this page, you can keep track of what
    you’ve tipped, change or cancel pending tips, and explore content made
    by your favorite creators. We also save the things you’ve tipped so you
    can find them later to enjoy or share with your friends.
  </p>
</section>
<section id="stats">
  <header>
    <h1>Your stats</h1>
  </header>
  <div>
    <h2>Number of tips</h2>
    <p><%=current_user.pages.count%></p>
  </div>
  <div>
    <h2>Average tip</h2>
    <p><%=current_user.tips.average(:amount_in_cents).round() if current_user.tips.size > 0%></p>
  </div>
  <div>
    <h2>Default tip</h2>
    <p>
      <span itemprop="tip_preference_in_cents"><%=current_user.tip_preference_in_cents%></span>
      <button>+</button>
      <button>-</button>
    </p>
  </div>
  <footer>
    <a href="/fans/me/edit">Edit your settings</a>
  </footer>
</section>

<section id="tips">
  <%-if @recent_tip -%>
    <header>
      <h1>What you've tipped</h1>
      <nav>
        <h2>Filter by</h2>
        <a href="#recent" class="selected">Most recent</a>
        <a href="#author">Alphabetical by author</a>
        <a href="#site">Alphabetical by site</a>
        <a href="#status">Status</a>
      </nav>
    </header>
    <%-current_user.pages.group('pages.id').except(:order).order('MAX(tips.created_at) DESC').each do |page| -%>
      <details itemscoped itemtype='/pages' itemid='<%=page.id%>'>
        <summary>
          <h2 itemprop="title"><%=page.title%></h2>
          <figure>
            <img itemprop="thumbnail_url" src="<%=page.thumbnail_url%>" alt="tip image" /> 
            <figcaption itemprop="amount_in_cents"><%=page.tips.sum(:amount_in_cents)%></figcaption>
          </figure>
        </summary>
        <dl>
          <dt>Source</dt>
          <dd><a itemprop="url" target="_blank" href="<%=page.url%>"><%=URI(page.url).host%></a></dd>
          <dt>
            <details>
              <summary><%=pluralize(page.tips.count, 'tip')%></summary>
              <table>
                <thead>
                  <tr>
                    <th>when</th>
                    <th>amount</th>
                    <th>manage</th>
                  </tr>
                </thead>
                <tbody>
                  <%-page.tips.each do |tip| -%>
                  <tr itemscoped itemtype='tips' itemid='<%=tip.id%>'>
                    <td><time datetime="<%=tip.created_at.getutc.iso8601%>" /></td>
                    <td>
                      <%-if tip.paid_state == 'promised' -%>
                        <form method="post"><input type="text" itemprop="amount_in_cents" value="<%=tip.amount_in_cents%>"/></form>
                      <%-else-%>
                        <span itemprop='amount_in_cents'><%=tip.amount_in_cents%></span>
                      <%-end-%>
                    </td>
                    <td>
                      <%-if tip.paid_state == 'promised' -%>
                        <form method="delete"><input type="submit" value="X"/></form>
                      <%-end-%>
                    </td>
                  </tr>
                <%-end-%>
                </tbody>
              </table>
            </details>          
          </dt>
        </dl>        
      </details>
    <%-end-%>
  <%-else-%>
  <aside>
    <h2 style="text-align:center">Get out there and tip some pages!</h2>
  </aside> 
  <%-end-%>
</section>

<nav>
  <a href="/fans/me/edit">Edit your settings</a>
</nav>
