<section id="banner">
  <header>
    <%= image_tag "icons/silhouette.svg", class:"identity", alt:'me' %>
  </header>
  <hgroup>
    <h1>Your Profile</h1>
    <p><%=@user.name%><a href="/signout">not you?</a></p>
  </hgroup>
  <p>
    This is your home on Copper. On this page, you can keep track of what
    you’ve tipped, change or cancel pending tips, and explore content made
    by your favorite creators. We also save the things you’ve tipped so you
    can find them later to enjoy or share with your friends.
  </p>
</section>
<section id="stats">
  <header>
    <h1>Your stats</h1>
  </header>
  <div>
    <h2>Authors tipped</h2>
    <p>24</p>
  </div>
  <div>
    <h2>Average tip</h2>
    <p>75</p>
  </div>
  <div>
    <h2>Default tip</h2>
    <p>
      <span itemprop="tip_preference_in_cents">0.<%=current_user.tip_preference_in_cents%></span>
      <button>+</button>
      <button>-</button>
    </p>
  </div>
  <footer>
    <a href="/users/me/edit">Edit your settings</a>
  </footer>
</section>
<section id="tips">
  <header>
    <h1>What you've tipped</h1>
    <nav>
      <h2>Filter by</h2>
      <a href="#recent" class="selected">Most recent</a>
      <a href="#author">Alphabetical by author</a>
      <a href="#site">Alphabetical by site</a>
      <a href="#status">Status</a>
    </nav>
  </header>

  <aside>
    <figure>
      <img src="/tips/12356/image" alt="tip image">
      <figcaption itemprop="amount_in_cents">0.75</figcaption>
    </figure>

    <dl>
      <dt>Author</dt>
      <dd>Johny Appleseed</dd>
      <dt>source</dt>
      <dd>flickr.com</dd>
      <dt>status</dt>
      <dd>pending</dd>
    </dl>
    <nav>
      <a href="#more">More by author</a>
      <a href="#original">Go to original</a>
      <a href="#delete">Cancel tip</a>
    </nav>

    <footer>
      <nav>
        <a href="#twitter_share"><%= image_tag "providers/twitter/logo.png", :title => "logo" %></a>
        <a href="#facebook_share"><%= image_tag "providers/facebook/logo.png", :title => "logo" %></a>
        <a href="#tumbler_share"><%= image_tag "providers/tumblr/logo_small.png", :title => "logo" %></a>
        <h2>Share with friends</h2>
      </nav>
      <time datetime="2012-07-15T18:16:56-07:00">2012-07-15</time>
    </footer>
  </aside>

  <ol>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
    <li><img src="/tips/12345/page_img.png" alt="flickr.com"></li>
  </ol>
</section>
<nav>
  <a href="/users/me/edit">Edit your settings</a>
</nav>
