<%-content_for :head do-%>
  <title>Author Profile - Copper.</title>
<%-end-%>

<section id="banner">
  <header>
    <%= image_tag "icons/silhouette.svg", class:"identity", alt:'me' %>
  </header>
  <hgroup>
    <h1>Your Profile</h1>
    <p><%=@user.name%><a href="/signout">not you?</a></p>
  </hgroup>
  <p>
    This is your home on Copper. On this page, you can keep track of what
    you’ve tipped, change or cancel pending tips, and explore content made
    by your favorite creators. We also save the things you’ve tipped so you
    can find them later to enjoy or share with your friends.
  </p>
</section>
<section id="stats">
  <header>
    <h1>Your stats</h1>
  </header>
  <div>
    <h2>Authors tipped</h2>
    <p><%=current_user.tips.count%></p>
  </div>
  <div>
    <h2>Average tip</h2>
    <p><%=current_user.tips.average(:amount_in_cents).round() if current_user.tips.size > 0%></p>
  </div>
  <div>
    <h2>Default tip</h2>
    <p>
      <span itemprop="tip_preference_in_cents"><%=current_user.tip_preference_in_cents%></span>
      <button>+</button>
      <button>-</button>
    </p>
  </div>
  <footer>
    <a href="/fans/me/edit">Edit your settings</a>
  </footer>
</section>
<%-if @recent_tip -%>
<section id="tips">
  <header>
    <h1>What you've tipped</h1>
    <nav>
      <h2>Filter by</h2>
      <a href="#recent" class="selected">Most recent</a>
      <a href="#author">Alphabetical by author</a>
      <a href="#site">Alphabetical by site</a>
      <a href="#status">Status</a>
    </nav>
  </header>
  <aside itemscoped itemtype='/tips' itemid='/tips/<%=@recent_tip.id%>'>
    <h2><%= @recent_tip.title%></h2>
    <figure>
      <img src="<%=@recent_tip.page.thumbnail_url%>" alt="tip image">
      <figcaption itemprop="amount_in_cents"><%=@recent_tip.amount_in_cents%></figcaption>
    </figure>
    <dl>
      <dt>Author</dt>
      <dd>Johny Appleseed</dd>
      <dt>Source</dt>
      <dd><%=URI(@recent_tip.page.url).host%></dd>
      <dt>Status</dt>
      <dd itemprop='tip_state'><%=@recent_tip.paid_state%></dd>
    </dl>
    <nav>
      <a href="#more">More by author</a>
      <a target="_blank" href="<%=@recent_tip.page.url%>">Go to original</a>
      <a>Cancel tip</a>
    </nav>
    <footer>
    <nav>
        <a href="#twitter_share"><%= image_tag "providers/twitter/logo.png", :title => "tweet this tip" %></a>
        <a href="#facebook_share"><%= image_tag "providers/facebook/logo.png", :title => "share this on facebook" %></a>
        <a href="#tumbler_share"><%= image_tag "providers/tumblr/logo_small.png", :title => "post this on tumblr" %></a>
        <h2>Share with friends</h2>
      </nav>
      <time datetime="<%=@recent_tip.created_at.getutc.iso8601 %>"/>
    </footer>
  </aside>
  <ol>
    <%-current_user.current_order.tips.each do |tip| -%>
      <li itemscoped itemtype='/tips' itemid='/tips/<%=tip.id%>'
        data-amount="<%=tip.amount_in_cents%>"
        data-url="<%=tip.url.to_s%>"
        data-site="<%=tip.url.host%>"
        data-title="<%=tip.title%>"
        data-paid_state="<%=tip.paid_state%>"
        data-created_at="<%=tip.created_at.getutc.iso8601 %>">
        <img src="<%=tip.page.thumbnail_url%>" />    
      </li>
    <%-end-%>
  </ol>
</section>
<%-end-%>
<nav>
  <a href="/fans/me/edit">Edit your settings</a>
</nav>
