<%-content_for :head do-%>
  <title><%=current_user.name%> - Copper</title>
  <%= stylesheet_link_tag "users/show" %>
  <%= javascript_include_tag "users/show" %>
<%-end-%>
<section id="user">
  <h1>Fan settings</h1>

  <section id="rate">
    <header>
      <h2>Buck Rate</h2>
      <p>Set the default amount for your bucks</p>
    </header>
    <%= render :partial => 'shared/tip_rate' %>
  </section>

  <section id="name">
    <header>
      <h2>User Name</h2>
      <p>what do you want us to call you</p>
    </header>
    <form id="fan_name" method="put" action="<%=user_url(current_user)%>" accept-charset="UTF-8">
      <input name="authenticity_token" type="hidden">
      <input type="input" id="user_name" name="user[name]" value="<%=current_user.name%>">
      <button type="button">Save</button>
    </form>
  </section>


  <section id="email">
    <header>
      <h2>Email</h2>
      <p>where we're gonna send notifications</p>
    </header>
    <form id="fan_email" method="put" action="<%=user_url(current_user)%>" accept-charset="UTF-8">
      <input name="authenticity_token" type="hidden">
      <input type="input" id="user_email" name="user[email]" value="<%=current_user.email%>">
      <button type="button">Save</button>
      <p></p>
  </section>

  <section id="sharing">
    <header>
      <h2>Share your bucks</h2>
      <p>you can share share your tips with your social network</p>
    </header>
    <fieldset>
      <label for="twitter">
        <input type="checkbox" id="twitter" name="[user][post_to_twitter]" value="true">
        Tweet bucks
      </label>
      <label for="facebook">
        <input type="checkbox" id="facebook" name="[user][post_to_facebook]" value="true">
        Publish bucks on facebook
      </label>
    </fieldset>
  </section>


  <section id="bucks">
    <header>
      <h2>View your bucks</h2>
      <p>View all the pages you've bucked</p>
    </header>
    <%= link_to "tips", user_tips_url(current_user) %>
  </section>

  <section id="button">
    <header>
      <h2>Install the browser button</h2>
      <p>Install the service on your browser's toolbar</p>
    </header>
    <a href="/button">button</a>
  </section>

</section>