<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
<script type="text/javascript" src="/behavior/credit_card.js"></script>
<script type="text/javascript" charset="utf-8">
  Stripe.setPublishableKey('<%=DirtyWhiteCouch::Application.config.stripe_publishable_key%>');
</script>
<!-- 4242424242424242 -->
<style>
  @import url(/design/credit_card.css);
</style>
<%= render :partial => 'shared/order_info', :object => current_user.active_tip_order %>

<form method="post" action="/users/pay" id="credit_card">
  <fieldset>
    <input type="email" name="email" required id="email" placeholder="Email"  autofocus value="<%=current_user.email%>"/>
    <input type="hidden" id="total_in_cents" value="<%=current_user.active_tip_order.tips.sum(:amount_in_cents)/10 + current_user.active_tip_order.tips.sum(:amount_in_cents)%>" />
  </fieldset>
  <fieldset>
    <input type="text" autocomplete="off" id="number" placeholder="Card Number" required />
    <input type="text" autocomplete="off" id="cvc" placeholder="CVC"  required />
  </fieldset>
  <fieldset>
    <%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "month"}%>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+10}, {name: nil, id: "year"}%>
  </fieldset>
  <fieldset class="pay">
  	<input type="checkbox"  name="terms" id="site_terms" value="true" <%= "checked" if current_user.accept_terms? %> />
    <label for="site_terms">I accept the <a href="/terms" target="window">terms</a></label>
    <input type="submit" value="Pay" />
    <input type="checkbox" name="rebill" id="rebill" value="true" <%= "checked" if current_user.automatic_rebill? %> />
    <label for="rebill">Bill me automatically</label>
  </fieldset>
</form>


