<section id="extensions">
  <p>
    Click your browser's logo below to install the tip button.
  </p>
  <figure id="firefox">
    <a href="https://github.com/scott-fryxell/copper_extension/blob/master/compiled/firefox.xpi?raw=true"
      iconURL="/assets/firefox.png"
      hash="sha1:75be9611dae0f318396238349012f44d98640305">
      <%= image_tag "user_agents/firefox.png" %>
    </a>
    <figcaption>Firefox</figcaption>
  </figure>
  <figure>
    <a href="https://github.com/scott-fryxell/copper_extension/blob/master/compiled/chrome.crx?raw=true">
      <%= image_tag "user_agents/chrome.png" %>
    </a>
    <figcaption>Chrome</figcaption>
  </figure>
  <figure>
    <a href="https://github.com/scott-fryxell/copper_extension/blob/master/compiled/safari.safariextz?raw=true">
      <%= image_tag "user_agents/safari.png" %>
    </a>
    <figcaption>Safari</figcaption>
  </figure>
  <aside>
    <%= image_tag "circle_iou.png" %>
    <p>
      When installing browser extensions (from Copper or anyone) -
      you may see warnings about potentially unsafe software. Our code is
      <a href="https://github.com/scott-fryxell/copper_extension"
          title="we built this city">open source</a> and focused
      exclusively on tipping and we will never mess with your computer
      or try and harvest your personal information.
    </p>
  </aside>
</section>
<section id="bookmarklet">
  <figure >
    <a href="<%= render :partial => 'home/wrapped_launcher', :formats => [:js] %>">¢opper</a>
    <figcaption>bookmarklet</figcaption>
  </figure>
  <aside>
    <%= image_tag "circle_bookmarklet.png" %>
    <p>
      If you are unsure about installing the Tip button
      above as an extension, you can also drag this
      <a class="wtf" href="http://en.wikipedia.org/wiki/Bookmarklet"
        target="new" title="what the hell is a bookmarklet">bookmarklet</a>
      to your Bookmarks Bar and the same functionality applies.
    </p>
  </aside>
</section>
