<section id="extensions">
  <p>
    Click your browser's logo below to install the tip button.
  </p>
  <figure id="firefox">
    <a href="/extensions/copper.xpi"
      iconURL="/assets/firefox.png"
      hash="sha1:fb518527f3fb64a03abafd390b92722681a65725">
      <%= image_tag "user_agents/firefox.png" %>
    </a>
    <figcaption>Firefox</figcaption>
  </figure>
  <figure>
    <a href="https://chrome.google.com/webstore/detail/ojapoefnofdldfpcncjgogbdplcjnjci">
      <%= image_tag "user_agents/chrome.png" %>
    </a>
    <figcaption>Chrome</figcaption>
  </figure>
  <figure>
    <a href="/copper.is.safariextz">
      <%= image_tag "user_agents/safari.png" %>
    </a>
    <figcaption>Safari</figcaption>
  </figure>
  <aside>
    <%= image_tag "circle_iou.png" %>
    <p>
      When installing browser extensions (from DWC or anyone) -
      you may see warnings about potentially unsafe software. Our code is
      <a href="https://github.com/scott-fryxell/DirtyWhiteCouch"
          title="come see for your self">open source</a> and focused
      exclusively on tipping and we will never mess with your computer
      or try and harvest your personal information.
    </p>
  </aside>
</section>
<section id="bookmarklet">
  <figure >
    <a href="<%= render :partial => 'tips/wrapped_launcher.js' %>">¢</a>
    <figcaption>bookmarklet</figcaption>
  </figure>
  <aside>
    <%= image_tag "circle_bookmarklet.png" %>
    <p>
      If you are unsure about installing the Tip button
      above as an extension, you can also drag this
      <a class="wtf" href="http://en.wikipedia.org/wiki/Bookmarklet"
        target="new" title="what the hell is a bookmarklet">bookmarklet</a>
      to your Bookmarks Bar and the same functionality applies.
    </p>
  </aside>
</section>
