<hgroup>
  <% if current_user %>
    <h1><%=current_user.name%></h1>
    <nav>
      <%= link_to "fans", user_url(current_user)%>
      <a href="/authors">authors</a>
      <%= link_to "signout", signout_path %>
    </nav>
  <% else %>
    <h1>Sign In With</h1>
    <nav>
      <a id="twitter_sign_in" href="/auth/twitter"><%= image_tag "providers/twitter.png" %></a>
      <a id="facebook_sign_in" href="/auth/facebook"><%= image_tag "providers/facebook.png" %></a>
      <a id="google_sign_in" href="/auth/google_oauth2"><%= image_tag "providers/google.png" %></a>
    </nav>
    <script type="text/javascript" charset="utf-8">
      $("nav > a > img").click(function(event){
        $(this).addClass("working");
      });
    </script>
  <% end %>
</hgroup>