<% tips.each do |tip| %>
 <tr>
   <td>
     <a href='<%= tip.locator.canonicalized %>' target='new'>
      <%= CGI::unescape(tip.locator.page.description) %>
     </a>
     <p>
      <%= tip.note %>
     </p>
   </td>
   <td>
     <time datetime="<%= tip.created_at.getutc.iso8601 %>"/>
   </td>
   <td>
     <span>$<%= cents_to_dollars(tip.amount_in_cents) %></span>
     <%if tip.tip_order.is_active?%>
     <form action='<%=user_tip_path(current_user, tip)%>' method="delete" target="interact">
       <input type="submit" name="submit" value="x">
     </form>
     <%end%>
   </td>
 </tr>
<% end %>
