<ol itemscope="true" itemtype="http://dirtywhitecouch.com/most_tipped">
  <% @most_tips.each do |page| %>
    <li itemscope="true" itemtype="http://dirtywhitecouch.com/tip">
      <aside>
        <span itemprop="tips"><%=h page.tips.size %></span>
        <span itemprop="total">$<%=h page.revenue_earned %></span>
      </aside>
      <section>
        <h2 itemprop="title">
          <a href="<%=h page.locators[0].canonicalized %>">
            <%=h CGI::unescape(page.description) %>
          </a>
        </h2>
        <p itemprop="locator">
          <%=h page.locators[0].canonicalized %>
        </p>
      </section>
      <div>
        <a href="#">Tip</a>
      </div>
    </li>
  <% end %>
</ol>