
<% content_for :head do %>
  <title>Information for Authors - copper.is</title>
  <%= javascript_include_tag "home/authors" %>
<% end %>

<section id="authors">
  <header>
    <h1>Authors, use the badge on your site</h1>
    <p>
      Invite your Fans to tip you for your work and help spread the
      word by including our badge on pages you've created.
    </p>
    <p>
      First select the kind of badge you want. Then copy the contents
      of the text are into your clipboard. You can then paste the 
      code into any pages you'd like to see tipped.
    </p>
    <form>
      <input type="hidden" name="type" value="name" id="type"/>

      <label for="color">Color</label>
      <select name="color" id="color" size="1">
        <option value="copper">copper</option>
        <option value="black">black</option>
      </select>

      <label for="size">Size</label>
      <select name="size" id="size" size="1">
        <option value="25">25px</option>
        <option value="40">40px</option>
        <option value="50">50px</option>
        <option value="75">75px</option>
        <option value="100">100px</option>
        <option value="150">150px</option>
        <option value="200" selected>200px</option>
        <option value="250">250px</option>
        <option value="300">300px</option>
      </select>
    </form>
  </header>

  <figure></figure>
  <textarea name="badte_text" id="badge_text" rows="8" cols="40"></textarea>
  <script id="badge_template" type="text/x-jquery-tmpl">
    <img class="copper_badge" src="<%=request.scheme%>://<%=request.host%>:<%=request.port%>/assets/logo/${type}/${color}.png"
         style="cursor:pointer; width:${size}px;" title="Pay this author for their work"
         onclick="<%= render :partial => 'tips/wrapped_launcher.js' %>">
  </script>

</section>
