<%-cache current_user do-%>
  <%-content_for :head do-%>
    <title>Author Profile - Copper.</title>
  <%-end-%>
  <section id="banner">
    <header>
      <%= image_tag "icons/silhouette.svg", class:"author", alt:'me' %>
    </header>
    <hgroup>
      <h1>Your pages</h1>
      <p><%=@current_user.name%><a href="/signout">not you?</a></p>
    </hgroup>
    <p>
      Hi <%=@current_user.name%>! On this page, 
      you can see what content your fans are connecting with
      and the tips they’ve sent to show their appreciation.
      Also look at other cool metrics on this page -- 
      like which types of content people are responding 
      to the most.
    </p>
  </section>
  <section id="stats">

    <header>
      <h1>Your stats</h1>
    </header>
    <div>
      <h2>Tip count</h2>
      <p><%=current_user.royalties.count%></p>
    </div>
    <div>
      <h2>Tips Paid</h2>
      <p data-cents="<%=current_user.paid_royalties.count%>"></p>
    </div>
    <div>
      <h2>Tips pending</h2>
      <p><%=current_user.pending_royalties.sum :amount_in_cents%></p>
    </div>
    <div>
      <h2>highest tip</h2>
      <p data-cents="<%=current_user.royalties.maximum :amount_in_cents%>"></p>
    </div>
    <div>
      <h2>Average tip</h2>
      <p data-cents="<%=current_user.royalties.average :amount_in_cents%>"></p>
    </div>
    <div>
      <h2>Total tips</h2>
      <p data-cents="<%=current_user.royalties.sum :amount_in_cents %>"></p>
    </div>
  </section>

  <section id="pages" >
    <header>
      <h1>Pages You own</h1>
      <hgroup>
        <h2>Filter by</h2>
        <nav>
          <a href="#pages/recent" class="selected">recent</a>
          <a href="#pages/site">site</a>
        </nav>
      </hgroup>
    </header>
    <%= render partial:"pages/author_page", collection:current_user.authored_pages, as: :page %>
  </section>
  <nav>
    <a href="/settings">Edit your settings</a>
  </nav>
  <%-end-%>