<%-cache do-%>
<section>

  <figure id="any_url">
    <figcaption>
      <h1>Tip Any URL on the Web</h1>    
      <p>The Copper Button lives on your browser's toolbar.
        It enables you to support the content you love 
        online with a single click.</p>
      <p>It takes two steps to get started.</p>
    </figcaption>
    <%= image_tag "getting_started/chrome/magnification.png", class:"chrome" %>
    <%= image_tag "getting_started/safari/magnification.png", class:"safari" %>
    <%= image_tag "getting_started/firefox/magnification.png", class:"firefox" %>
  </figure>

  <figure id="sign_up_install_button">
    <nav>
      <a href="/auth/facebook" title="connect with facebook"><%= image_tag "providers/facebook/connect.png"%></a>
      <a class="button install">Install The Button</a>
      <a class="safari"><%= image_tag "getting_started/safari/download.png", class:'safari' %></a>
      <a class="firefox"><%= image_tag "getting_started/firefox/warning.png", class:'firefox' %></a>
    </nav>
    <figcaption>
      <h2>1. Sign Up</h2>
      <p>Sign up by connecting with your Facebook account.
        (sign up using google and twitter coming soon)</p>
      <h2>2. Install the Copper button</h2>
      <p class="chrome">Click 'install the button' and confirm you want 
        to add the Copper button to your browser.</p>
      <p class="safari">Clicking 'install the button' will dowload a file 
        called copper.safariextz. Just open it (it will 
        be in your downloads folder)and choose to install
        the extension.</p>
      <p class="firefox">Click 'install the button', (the one just to the left here).
        Confirm you want to add the Copper button by clicking 'Allow.'
        Firefox will walk you through the last two steps.</p>
      <p>That's it! The Copper button will appear on your 
        browser and you can start tipping.</p>
    </figcaption>
  </figure>

  <figure id="start_tipping">
    <figcaption>
      <h1>Start Tipping</h1>    
      <p>When you click the Copper button you tip the page 
        you are on. A small window will drop down confirming 
        the tip you just made.</p>
      <p>We find the creators of the pages you tip and pay them.</p>
    </figcaption>
    <%= image_tag "getting_started/tip_dropdown.png"%>
  </figure>

</section>
<%-end-%>