<section id="banner">
  <header>
    <h1>The new tipping and appreciation service for creators &amp; fans.</h1>
    <a href="#">WATCH OUR VIDEO &gt;</a>
  </header>
  <a href="#" id="play_video">
    <%= image_tag "icons/play.svg" %>
  </a>
</section>
<section id="connecting">
  <aside>
    <h1>Connecting Directly</h1>
    <p>
      Many of us see content on the web everyday, and are inspired by it.
      Copper allows you to tip the creator of that content directly.
    </p>
  </aside>
</section>
<section id="how">
  <header>
    <h1>How It Works</h1>
    <p>
      Many of us see content on the web everyday, and are inspired by it.
      Copper allows you to tip the creator of that content directly.
    </p>
    <a href="#" class="button">Get The Button</a>
  </header>
  <nav>
    <a href="#tumblr" class="selected"><%= image_tag "providers/tumblr.png" %></a>
    <a href="#vimeo"><%= image_tag "providers/vimeo/mask.png" %></a>
    <a href="#soundcloud"><%= image_tag "providers/soundcloud/mask.png" %></a>
    <a href="#github"><%= image_tag "providers/github/mask.png" %></a>
    <a href="#youtube"><%= image_tag "providers/youtube/mask.png" %></a>
    <a href="#xkcd"><%= image_tag "providers/xkcd/mask.png" %></a>
    <a href="#more">...and more!</a>
  </nav>
</section>
<section id="samples">
  <figure>
    <%= image_tag "home/screen_shots/missionmission.tumblr.com.png" %>
    <%= image_tag "home/screen_shots/missionmission.tumblr.com.png" %>
    <%= image_tag "home/screen_shots/missionmission.tumblr.com.png" %>
  </figure>
</section>
<section id="button">
  <header>
    <h1>Connect and Get the Button</h1>
    <p>
      Now you can torbi leo risus, porta ac consecteturm
      at eros torbi leo risus, porta ac consecteturm at.
    </p>
  </header>
  <figure>
    <%-unless current_user-%>
    <a id="facebook_sign_in" href="/auth/facebook">
      <%= image_tag "providers/facebook/connect.png", :class => 'fb' %>
    </a>
    <%-end-%>
    <a href="#" class="button">
      <%= image_tag "icons/letter_logo.svg", :class => 'logo' %>
    </a>
    <figcaption><a href="/how">Learn More</a> about tipping</figcaption>
  </figure>
</section>
