<%-cache current_user do-%>
  <section id="banner">
    <header>
      <%= image_tag "icons/silhouette.svg", class:"author", alt:'me' %>
    </header>
    <hgroup>
      <h1>Your Profile</h1>
      <p><%=current_user.name%><a href="/signout">not you?</a></p>
    </hgroup>
    <%-unless current_user.created_at < 7.days.ago-%>
    <p>
      This is your home on Copper. On this page, you track what
      you’ve tipped, change or cancel pending tips, and explore content made
      by your favorite creators. 
    </p>
    <%-end-%>
  </section>
  <section id="stats">
    <header>
      <h1>Your stats</h1>
    </header>
    <div>
      <h2>Pages tipped</h2>
      <p><%=current_user.tipped_pages.length%></p>
    </div>
    <div>
      <h2>Average tip</h2>
      <p><%=current_user.tips.average(:amount_in_cents).round() if current_user.tips.size > 0%></p>
    </div>
    <div>
      <h2>Default tip</h2>
      <p>
        <span itemprop="tip_preference_in_cents" data-value="<%=current_user.tip_preference_in_cents%>"></span>
        <button>+</button>
        <button>-</button>
      </p>
    </div>
    <footer></footer>
  </section>

  <%-if current_user.pages.count > 0 -%>
    <section id="pages" class="">
      <header>
        <h1>The stuff you love</h1>
        <hgroup>
          <h2>Filter by</h2>
          <nav>
            <a href="#pages.read" class="selected">read</a>
            <a href="#pages.watch">watch</a>
            <a href="#pages.listen">listen</a>
          </nav>
          <nav>
            <a href="#pages.author">author</a>
            <a href="#pages.site">site</a>
          </nav>
          <nav>
            <a href="#pages.adopted">adopted <span><%=current_user.pages.adopted.count%></span></a>
            <a href="#pages.fostered">fostered <span><%=current_user.pages.fostered.count%></span></a>
            <a href="#pages.manual">manual <span><%=current_user.pages.manual.count%></span></a>
            <a href="#pages.orphaned">orphaned <span><%=current_user.pages.orphaned.count%></span></a>
          </nav>
        </hgroup>
      </header>
      <%= render partial:"pages/fan_page", collection:current_user.tipped_pages, as: :page %>
    </section>
  <%-else-%>
    <section id="install">
      <header>
        <p>
          You’re now officially a fan on Copper. As soon as you
          have the button, you can start tipping!
        </p>
      </header>
      <figure>
        <a href="#me" title="Done! Your all signed up">
          <%= image_tag "providers/facebook/connect.png"%>
        </a>
        <%= image_tag "arrows/right.svg"%>
        <a class="button install" ><%= image_tag "icons/letter_logo_white.svg"%>Install The Button</a>
        <%= image_tag "arrows/right_two.svg"%>
        <a class="button">Start Tipping</a>
      </figure>
    </section>
    <section id="congrats">
      <header>
        <h3>Congrats!</h3>
        <h1>Your button is installed!</h1>
      </header>
      <p><span>Take the button for a test drive.</span>
        Click through to the pages you've already liked, 
        press the Copper button.
      </p>
    </section>
    <section id="facebook">
      <h4><%=image_tag "providers/facebook/thumb.png"%></h4>
      <nav></nav>
    </section>
    <section id="card">
      <header>
        <h3>All the cool kids are tipping with real money</h3>
        <p>
          Here's the fine print: If you tip someone a buck, 
          they get paid a buck. We charge you 10% for the service.
        </p>
      </header>
      <%= render partial:'shared/card' %>
      <figure>
        <%=image_tag "noun_project/3879.svg"%>
      </figure>
    </section>
  <%-end-%>
<%-end-%>
