<section id="banner">
  <header>
    <h1>The new tipping service for creators &amp; fans.</h1>
    <a href="#">WATCH OUR VIDEO &gt;</a>
  </header>
  <a href="#" id="play_video">
    <%= image_tag "icons/play.svg" %>
  </a>
</section>
<section id="connecting">
  <aside>
    <h1>Make a Connection</h1>
    <p>
      Copper is how you connect with the people whose
      stuff you appreciate online.
    </p>
  </aside>
</section>
<section id="how">
  <header>
    <h1>How It Works</h1>
    <p>
      You find something cool anywhere online. You click a button to
      tip the content. We find the person who made it and pass along
      your appreciation. They keep on doing what they do!
    </p>
    <a href="#" class="button install">Get The Button</a>
  </header>
  <nav>
    <a href="#tumblr" class="selected"><%= image_tag "providers/tumblr.png" %></a>
    <a href="#vimeo"><%= image_tag "providers/vimeo/mask.png" %></a>
    <a href="#soundcloud"><%= image_tag "providers/soundcloud/mask.png" %></a>
    <a href="#github"><%= image_tag "providers/github/mask.png" %></a>
    <a href="#youtube"><%= image_tag "providers/youtube/mask.png" %></a>
    <a href="#xkcd"><%= image_tag "providers/xkcd/mask.png" %></a>
    <a href="#more">...and more!</a>
  </nav>
</section>
<section id="samples">
  <figure>
    <%= image_tag "home/screen_shots/missionmission.tumblr.com.png" %>
    <%= image_tag "home/screen_shots/missionmission.tumblr.com.png" %>
    <%= image_tag "home/screen_shots/missionmission.tumblr.com.png" %>
  </figure>
</section>
<section id="signin_with_fb" class="workflow">
  <header>
    <h1>Sign in with Facebook</h1>
    <p>
      We'll never post to your timeline without your permission.
    </p>
  </header>
  <figure>
    <a id="facebook_sign_in" href="/auth/facebook" title="connect with facebook">
    <%= image_tag "providers/facebook/connect.png", :class => 'fb' %>
    </a>
    <a href="#"><%= image_tag "icons/letter_logo.svg", :class => 'logo' %></a>
  </figure>
</section>
<section id="welcome" class="workflow">
  <header>
    <h1>Welcome, James!</h1>
    <p>
      You’re now officially a fan on Copper. As soon as you
      have the button, you can start tipping! You also now
      have a Copper profile, where you can keep track of
      your tipping and your favorite content.
    </p>
  </header>
  <figure>
    <a href="#" class="install"><%= image_tag "icons/letter_logo.svg", :class => 'logo' %></a>
    <figcaption><a href="#" class="button install">Get The Button</a></figcaption>
  </figure>
</section>
<section id="congrats">
  <header>
    <h3>Congrats!</h3>
    <h1>Your button is now installed! Take it for a test drive...</h1>
  </header>
  <p>
    Below are some things we have transferred from your News Feed
    that you might want to tip! But of course, the tip button
    works anywhere.
  </p>
  <p class="sub">
    Note: We won’t ask for any payment info until you've been using
    the service for a bit, but if you want to get that squared away now,
    you can do that <a href="/users/me/edit">here</a>.
  </p>
  <footer>
    <h3>Default Tip</h3>
    <p>0.25</p>
  </footer>
</section>
<section id="facebook">
  <ul class="activity">
    <h4><%=image_tag "providers/facebook/activity.png"%> Activity</h4>
    <li></li>
    <li>stuff</li>
    <li>stuff</li>
  </ul>

  <nav class="likes">
    <h4><%=image_tag "providers/facebook/thumbs_up.png"%> Likes</h4>
    <a href="#">
      <img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/373041_134946929868003_1015713091_s.jpg">
    </a>
  </nav>
</section>
<section class="settings">
  <header>
    <h3>Check out Your Profile</h3>
    <p>
      We’ve made a profile page for you where you
      can keep track of your generosity.
    </p>
  </header>
  <%= link_to image_tag("icons/silhouette.svg"), '/users/me', :title => "View profile" %>
</section>
<section class="settings">
  <header>
    <h3>Customize Your Settings</h3>
    <p>
      We’ve also made a settings page for you where
      you can adjust and personalize tips.
    </p>
  </header>
  <%= link_to image_tag("icons/gear.svg"), '/users/me/edit', :title => "Account settings"%>
</section>
