<section id="banner">
  <header>
    <h1>The new tipping and appreciation service for creators &amp; fans.</h1>
    <a href="#">WATCH OUR VIDEO &gt;</a>
  </header>
  <a href="#" id="play_video">
    <%= image_tag "home/play.svg" %>
  </a>
</section>
<section id="how">
  <%= image_tag "home/how_it_works.png" %>
  <aside>
    <h1>How It Works</h1>
    <p>
      Many of us see content on the web everyday, and are inspired by it.
      Copper allows you to tip the creator of that content directly.
    </p>
  </aside>
</section>
<section id="button">
  <%= image_tag "home/triangle_down.svg", :class=>"top" %>
  <aside>
    <h1>The Tip Button</h1>
    <p>
      With the Tip Button, torbi leo risus, porta ac consecteturm
      at eros torbi leo risus, porta ac consecteturm at.
    </p>
  </aside>
  <%= image_tag "icons/letter_logo.svg", :class => 'logo' %>
  <a href="#"></a>
  <%= image_tag "home/triangle_down.svg", :class=>"bottom" %>
</section>
<section id="samples">
  <%= image_tag "screen_shots/missionmission.tumblr.com.png" %>
</section>
<section id="more">
  <h1>More About Tipping</h1>
  <article>
    <h2>It’s Not a Charity</h2>
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
      eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue
      laoreet rutrum faucibus dolor auctor.
    </p>
  </article>
  <article>
    <h2>It’s Safe &amp; Secure</h2>
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
      eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue
      laoreet rutrum faucibus dolor auctor.
    </p>
  </article>
  <article>
    <h2>It Benefits Everyone</h2>
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
      eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue
      laoreet rutrum faucibus dolor auctor.
    </p>
  </article>
  <article>
    <h2>You’re Connecting</h2>
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
      eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue
      laoreet rutrum faucibus dolor auctor.
    </p>
  </article>
  <article>
    <h2>You’re Collecting</h2>
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
      eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue
      laoreet rutrum faucibus dolor auctor.
    </p>
  </article>
  <article>
    <h2>You’re Changing the System</h2>
    <p>
      Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
      eget lacinia odio sem nec elit. Vivamus sagittis lacus vel augue
      laoreet rutrum faucibus dolor auctor.
    </p>
  </article>

</section>
