<%-cache current_user do-%>
  <section id="banner">
    <header>
      <a href=/><%= image_tag "icons/silhouette.svg", class:"author", alt:'me' %></a>
    </header>
    <hgroup>
      <h1>what you love</h1>
      <p><%=current_user.name%><a href="/signout">not you?</a></p>
    </hgroup>
    <%-unless current_user.created_at < 7.days.ago-%>
    <p>
      This is your home on Copper. On this page, you track what
      you’ve tipped, change or cancel pending tips, and explore content made
      by your favorite creators. 
    </p>
    <%-end-%>
  </section>
  <section id="stats">
    <header></header>
    <div>
      <h2>Pages tipped</h2>
      <p><%=current_user.tipped_pages.length%></p>
    </div>
    <div>
      <h2>Average tip</h2>
      <p data-cents='<%=current_user.tips.average(:amount_in_cents).round() if current_user.tips.size > 0%>'></p>
    </div>
    <div>
      <h2>Default tip</h2>
      <p>
        <span itemprop="tip_preference_in_cents"></span>
        <%= image_tag "noun_project/5805.svg", alt:"increase defalut tip amount"%>
        <%= image_tag "noun_project/5802.svg", alt:"decrease default tip amount"%>
      </p>
    </div>
    <footer></footer>
  </section>

  <section id="pages">
    <%-if current_user.pages.count > 0 -%>
      <%= render partial:"pages/details", collection:current_user.tipped_pages.limit(60), as: :page %>
    <%-end-%>
  </section>
<%-end-%>
