<%-cache current_user do-%>
<section id="banner">
  <header>
    <a href=/><img src="<%=current_user.authors.first.profile_image%>" class="author"></a>
  </header>
  <hgroup>
    <h1>Your Settings</h1>
    <p><%=current_user.name%><a href="/signout">not you?</a></p>
  </hgroup>
  <%-unless current_user.stripe_id-%>
  <p>
    Hey, cool. You’ve found some great stuff to tip with Copper.
    Let’s get your tips to the creators...
    <br><br>
    Please add your payment info so we can start getting your 
    tips to the people whose content you’ve liked. Once we have 
    your info we’ll charge you weekly.
  </p>
  <%-end-%>
</section>

<section id="email" class="setting" itemscope itemtype="/users" itemid="/users/<%=current_user.id%>">
  <header>
    <h2>Contact Info</h2>
    <a href="#">Change</a>
  </header>
  <div>
    <h4>Email Address</h4>
    <p itemprop="email"><%=current_user.email%></p>
  </div>
  <form method="put" action="/users/me" accept-charset="UTF-8">
    <input itemprop="email" name='user[email]' type="email" required value="<%=current_user.email%>">
    <input type="submit" value="Save"/>
  </form>
</section>

<%= render partial:"shared/button"%>

<section id="sharing" itemscope itemtype="/users" itemid="/users/<%=current_user.id%>">
  <header>
    <h2>Facebook</h2>
  </header>
  <form action="/users/me" method="put">
    <input type='hidden' value='false' name="user[share_on_facebook]">
    <input itemprop="share_on_facebook" type="checkbox" name="user[share_on_facebook]" value="true" <%= "checked" if current_user.share_on_facebook? %>/>
    <label>Share tips on my timeline</label>
  </form>
</section>

<section id="rate" class="setting" itemscope itemtype="/users" itemid="/users/<%=current_user.id%>">
  <header>
    <h2>Default Tip</h2>
    <a href="#">Change</a>
  </header>
  <div>
    <p itemprop="tip_preference_in_cents"></p>
  </div>
  <form method="put" action="/users/me" accept-charset="UTF-8">
    <select itemprop="tip_preference_in_cents" name="user[tip_preference_in_cents]">
      <option value="5" <%= 'selected ' if current_user.tip_preference_in_cents == 5%> >$0.05</option>
      <option value="10" <%= 'selected ' if current_user.tip_preference_in_cents == 10%>>$0.10</option>
      <option value="25" <%= 'selected ' if current_user.tip_preference_in_cents == 25%>>$0.25</option>
      <option value="50" <%= 'selected ' if current_user.tip_preference_in_cents == 50%>>$0.50</option>
      <option value="75" <%= 'selected ' if current_user.tip_preference_in_cents == 75%>>$0.75</option>
      <option value="100" <%= 'selected ' if current_user.tip_preference_in_cents == 100%>>$1.00</option>
      <option value="200"<%= 'selected ' if current_user.tip_preference_in_cents == 200%>>$2.00</option>
      <option value="300" <%= 'selected ' if current_user.tip_preference_in_cents == 300%>>$3.00</option>
      <option value="500" <%= 'selected ' if current_user.tip_preference_in_cents == 500%>>$5.00</option>
      <option value="1000" <%= 'selected ' if current_user.tip_preference_in_cents == 1000%>>$10.00</option>
      <option value="1500" <%= 'selected ' if current_user.tip_preference_in_cents == 1500%>>$15.00</option>
      <option value="2000" <%= 'selected ' if current_user.tip_preference_in_cents == 2000%>>$20.00</option>
    </select>
    <input type="submit" value="Save"/>
  </form>
</section>

<section id="card" class="setting" itemscope itemtype="/users" itemid="/users/<%=current_user.id%>">
  <header>
    <h2>Payment Info</h2>
    <a href="#card">Change</a>
  </header>
  <div>
    <section>
      <h4>Type Of Card</h4>
      <p class="type"></p>
    </section>
    <section>
      <h4>Card Number</h4>
      <p class="number"></p>
    </section>
    <section>
      <h4>Expiration</h4>
      <p class="expiration"></p>
    </section>
  </div>
  <%= render partial:'shared/card' %>
</section>

<section id="orders" class="setting" style='display:none;'>
  <header>
    <h2>Tip orders</h2>
  </header>
  <nav>
    <a href="/users/<%=current_user.id%>/orders">View order details</a>
  </nav>
</section>

<section id="address" class="setting" itemscope itemtype="/users" itemid="/users/<%=current_user.id%>">
  <header>
    <h2>Your address</h2>
    <a href="#address">Change</a>
  </header>
  <div>
    <p itemprop="payable_to"></p>
    <p itemprop="line1"></p>
    <p itemprop="line2"></p>
    <p>
      <span itemprop='city'></span>
      <span itemprop="subregion_code"></span> 
      <span itemprop="postal_code"></span>
    </p>
  </div>
  <%= render partial:'shared/address' %>
</section>
<nav>
  <a href="/">return to profile</a>
</nav>
<%-end-%>
