<section>
  <figure>
    <%= image_tag "noun_project/2966.svg" %>
    <figcaption><%=User.count%> Fans</figcaption>
    <figcaption><b><%=User.where('created_at >= ?', Date.today.at_beginning_of_month).count%></b> this month</figcaption>
  </figure>
  <figure>
    <%= image_tag "noun_project/4060.svg" %>
    <figcaption><%=Tip.count%> Tips</figcaption>  
    <figcaption><b><%=Tip.where('created_at >= ?', Date.today.at_beginning_of_month).count%></b> this month</figcaption>
  </figure>
  <figure>
    <%= image_tag "noun_project/4534.svg" %>
    <figcaption><%=Page.count%> Pages</figcaption>
    <figcaption><b><%=Page.where('created_at >= ?', Date.today.at_beginning_of_month).count%></b> this month</figcaption>
  </figure>
</section>