<section>
  <figure>
    <%= image_tag "noun_project/2966.svg" %>
    <figcaption><%=User.count%> Fans</figcaption>
  </figure>
  <figure>
    <%= image_tag "noun_project/4060.svg" %>
    <figcaption><%=Tip.count%> Tips</figcaption>  
  </figure>
  <figure>
    <%= image_tag "noun_project/4534.svg" %>
    <figcaption><%=Page.count%> Pages</figcaption>
  </figure>
</section>