<li itemtype='page' itemid='<%=page.id%>' id="page[<%=page.id%>]">
  <data itemprop="url" value="<%=page.url%>">
  <data itemprop="title" value="<%=page.title%>">
  <data itemprop="author_state" value="<%=page.author_state%>">
  <data itemprop="thumbnail_url" value="<%=page.thumbnail_url%>">
  <time itemprop="created_at" datetime="<%=page.created_at%>">
  <time itemprop="updated_at" datetime="<%=page.updated_at%>">
</li>