<%-cache order do-%>
<details itemscope itemtype='orders' itemid='/orders/<%=order.id%>'>
  <summary><span>order <%=order.order_state%></span><%=order.user.name if order.user%></summary>
  <meta itemprop="user_id" content="<%=order.user_id%>">
  <dl>
    <dt>Created</dt>
    <dd><time itemprop="created_at" pubdate datetime="<%=order.created_at.getutc.iso8601%>"/></dd>
    <dt>Last change</dt>
    <dd><time itemprop="updated_at" datetime="<%=order.updated_at.getutc.iso8601%>"/></dd>
    <dt>State</dt>
    <dd itemprop="order_state"><%=order.order_state%></dd>
    <dt>stripe token</dt>      
    <dd itemprop="charge_token"><%=order.charge_token%></dd>
  </dl>
  <footer>
    <form>
      <button formmethod="post" formaction="/orders/<%=order.id%>/reject">make current</button>
      <button formmethod="post" formaction="/orders/<%=order.id%>/refund">refund</button>
    </form>
    <details itemscope itemtype='user' itemid='/users/<%=order.user_id%>'>
      <summary>User</summary>
    </details>
    <details itemscope itemtype='tip' itemid='/orders/<%=order.id%>/tips'>
      <summary>tips</summary>
    </details>
  </footer>
</details>
<%-end-%>
<!-- super optimized version -->
<!--<dl itemscope itemtype='order' itemid='/orders/<%=order.id%>'>
  <dd itemprop="created_at"><%=order.created_at.getutc.iso8601%></dd>
  <dd itemprop="updated_at"><%=order.updated_at.getutc.iso8601%></dd>
  <dd itemprop="order_state"><%=order.order_state%></dd>
  <dd itemprop="charge_token"><%=order.charge_token%></dd>
  <dd itemprop='user_id'><%=order.user_id%></dd>
</dl>
 --> 