<section>
  <style>
    @import url('/orders/design.css');
    p {
      margin-bottom: 1em;
    }
  </style>
  <script src="/orders/behavior.js"></script>
  <h1>Refill your tip fund</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur.
  </p>

  <% form_for @order, :url => (order_prepare_path) do |f| %>

    <fieldset id="budget">

      <label for="order_amount_in_cents">My Budget</label>
      <%= f.select :amount_in_cents, [["$2.00", "200"], ["$5.00", "500"], ["$10.00", "1000"], ["$20.00", "2000"]] %>

      <label for="fee">Weave Fee</label>
      <span id="fee"></span>
      <span>(7%)</span>

      <hr />
      <label for="total">Total</label>
      <span id="total"></span>
    </fieldset>

    <fieldset id="refill">
      <%= f.check_box :rebill %>
      <label for="order_rebill">Refill automatically each month</label>
    </fieldset>

    <fieldset id="payment_options">
      <h1>Payment options</h1>
      <% fields_for :account do |a| %>

      <label for="account_card_type_id">Card Type</label>
      <%= a.select(:card_type_id, @card_types) %>

      <label for="account_billing_name">Cardholder Name</label>
      <%= a.text_field :billing_name %>

      <label for="account_number">Card Number</label>
      <%= a.text_field :number %>

      <label for="account_expires_on_1i">Expiration Date</label>
      <%= a.date_select :expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>

      <label for="account_verification_code">CVV<sub>2</sub></label>
      <%= a.text_field :verification_code, :size => 3, :maxlength => 3 %>

      <% end %>
    </fieldset>

    <fieldset id="billing_address">
      <h1>Billing Address</h1>
      <% fields_for :billing_address do |b| %>

      <label for="billing_address_line_1">Address</label>
      <%= b.text_field :line_1 %>

      <label for="billing_address_line_2">Address 2</label>
      <%= b.text_field :line_2 %>

      <label for="billing_address_city">City</label>
      <%= b.text_field :city %>

      <label for="billing_address_state">State</label>
      <%= b.select(:state, @states) %>

      <label for="billing_address_postal_code">Zip Code</label>
      <%= b.text_field :postal_code %>

      <label for="billing_address_country">Country</label>
      <%= b.select(:country, @countries)%>

      <label for="billing_address_phone">Billing Phone</label>
      <%= b.text_field :phone %>

      <% end %>
    </fieldset>

    <%= submit_tag "Continue" %>

  <% end %>

</section>
