<section>
  <style>
    @import url('/orders/design.css');
    @import url('/orders/design_show.css');
  </style>
  <script src="/orders/behavior.js"></script>

  <h1>Refill Complete</h1>
  <dl itemscope="true" itemtype="http://weave.us/order">
    <dt>Order #</dt>
    <dd itemprop="number"><%= @order.id %></dd>
  </dl>
  <dl itemscope="true" itemtype="http://weave.us/refill_totals">
    <dt>Total</dt>
      <dd itemprop="total">$<%=@order[:amount_in_cents]%></dd>
    <dt>Refill</dt>
      <dd itemprop="refill">$<%= @order.transaction.refill.amount_in_cents %></dd>
    <dt>Fee</dt>
      <dd itemprop="fee">$<%= @order.transaction.fee.amount_in_cents %></dd>
  </dl>

  <dl itemscope="true" itemtype="http://weave.us/credit_card">
    <dt>Payment</dt>
    <dd itemprop="name"><%=@account[:billing_name]%></dd>
    <dd itemprop="type"><%=CardType.find_by_id(@account[:card_type_id]).name%></dd>
    <dd itemprop="number"><%=@account[:number]%></dd>
  </dl>
  <dl itemscope="true" itemtype="http://weave.us/address">
    <dt>Address</dt>
    <dd itemprop="address"><%=@billing_address[:line_1]%></dd>
    <dd itemprop="address2"><%=@billing_address[:line_2]%></dd>
    <dd itemprop="city"><%=@billing_address[:city]%></dd>
    <dd itemprop="state"><%=@billing_address[:state]%></dd>
    <dd itemprop="zip_code"><%=@billing_address[:postal_code]%></dd>
    <dd itemprop="country"><%=@billing_address[:country]%></dd>
    <dd itemprop="phone"><%=@billing_address[:phone]%></dd>
  </dl>
</section>