<%-cache [page] do-%>
<details itemscope itemtype='/pages' itemid='/pages/<%=page.id%>' data-author_state="<%=page.author_state%>">
  <summary>
    <figure>
      <%-if page.thumbnail_url -%>
        <img itemprop="thumbnail_url" src="<%=page.thumbnail_url%>" alt="tip image" title="<%=page.title%>"/>
      <%-else-%>
          <%= image_tag "noun_project/6437.svg" %>
      <%-end-%>
      <figcaption>
        <p data-cents='<%=page.tips.sum(:amount_in_cents)%>'></p>
        <p data-count='<%=page.tips_pending_count%>'><%=page.tips_pending_count%></p>
        <h2 itemprop="title"><%=page.title%></h2>
      </figcaption>
    </figure>
  </summary>
  <section>
    <header>
      <h1 itemprop='author_state'><%=page.author_state%></h1>
      <hgroup>
        <h4>id</h4>
        <a href="/pages/<%=page.id%>" itemprop="id"><%=page.id%></a>
      </hgroup>
      <hgroup>
        <h4>updated</h4>
        <time itemprop="updated_at" datetime="<%=page.updated_at.getutc.iso8601%>"/>
      </hgroup>
      <hgroup>
        <h4>Created</h4>
        <time itemprop="created_at" datetime="<%=page.created_at.getutc.iso8601%>"/>
      </hgroup>
    </header>
    <div>
      <fieldset>
        <input placeholder="title" itemprop="title" value="<%=page.title%>" >
        <a target="_blank" href="<%=page.url%>"><%= image_tag "noun_project/13883.svg" %></a>
        <input type="url" placeholder="url" itemprop="url" value="<%=page.url%>" >
        <input type="url" placeholder="thumbnail" itemprop="thumbnail_url" value="<%=page.thumbnail_url%>">
        <input type="url" placeholder="author" itemprop="author_url" value="<%=page.author.url if page.author %>">
        <nav>
          <button itemprop="welcome" formmethod="put" formaction="/pages/<%=page.id%>" value="<%=page.welcome?%>">welcome</button>
          <button itemprop="onboarding" formmethod="put" formaction="/pages/<%=page.id%>" value="<%=page.onboarding?%>">onboarding</button>
          <button itemprop="trending" formmethod="put" formaction="/pages/<%=page.id%>" value="<%=page.trending?%>">trending</button>
          <button itemprop="nsfw" formmethod="put" formaction="/pages/<%=page.id%>" value="<%=page.nsfw?%>">nsfw</button>
        </nav>
        <nav style="display:none">
          <button formmethod="delete" formaction="/pages/<%=page.id%>">delete</button>
          <button formmethod="post" formaction="/pages/<%=page.id%>/adopt">adopt</button>
          <button formmethod="post" formaction="/pages/<%=page.id%>/reject">reject</button>
        </nav>
      </fieldset>
    </div>
  </section>
</details>
<%-end-%>