<%-cache page do-%>
<article <%= raw page.as_item_attributes%>>
  <%-page.nested=true-%>
  <header>
    <%= render partial:"pages/as_figure", object:page, as: :page %>
  </header>
  <section>
    <h3><%= URI.parse(page.url).host%></h3>
    <%-if page.title-%>
      <h2 itemprop="title"><%=page.title%></h2>
    <%-else-%>
      <h2><%= URI.parse(page.url).path.delete("/")%></h2>
    <%-end-%>
    <nav>
      <a href='<%=page.url%>' target="_blank" itemprop="url">Visit</a>
    <nav>
  </section>
  <aside>
    <%= render partial:"pages/as_form", object:page, as: :page %>
  </aside>
  <footer>
    <%= render partial:"pages/as_menu", object:page, as: :page %>
  </footer>
  <%-page.nested=false-%>
</article>
<%-end-%>
