<%-cache page do-%>
<figure itemscope itemtype='pages' itemid='/pages/<%=page.id%>'>
  <a itemprop="url" target="_blank" href="<%=page.url%>">
    <img itemprop="thumbnail_url" src="<%=page.thumbnail%>" />
  </a>
  <%-if page.author -%>
  <figcaption>
    <p itemprop="title"><%=page.title%></p>
    <p><%=page.author.username%></p>
  </figcaption>
  <%-end-%>
</figure>
<%-end-%>
