<%-cache page do-%>
<article <%= raw page.as_item_attributes%>>
  <%-page.nested=true-%>
  <%= render partial:"pages/as_figure", object:page, as: :page %>
  <header>
    <%-if page.title-%>
      <h2 itemprop="title">
        <a href='<%=page.url%>' target="_blank" itemprop="url">
          <%=page.title%>
        </a>
      </h2>
    <%-else-%>
      <h2>
        <a href='<%=page.url%>' target="_blank" itemprop="url">
        <%= URI.parse(page.url).path.delete("/")%>
        </a>
      </h2>
    <%-end-%>
    <h3><%= URI.parse(page.url).host%></h3>
  </header>
  <%= render partial:"pages/as_form", object:page, as: :page %>
  <footer>
    <%= render partial:"pages/as_menu", object:page, as: :page %>
  </footer>
  <%-page.nested=false-%>
</article>
<%-end-%>
