<%-cache page do-%>
<article <%= raw page.as_item_attributes%>>
  <%-page.nested=true-%>
  <%= render partial:"pages/as_figure", object:page, as: :page %>
  <footer>
    <h2>
      <a href='<%=page.url%>' target="_blank" itemprop="title">
        <%=page.title%>
      </a>
    </h2>
    <h3><%=page.host%></h3>
    <nav>
      <a href="<%="/pages/#{page.id}"%>">more..</a>
    </nav>
  </footer>
  <%-page.nested=false-%>
</article>
<%-end-%>
