<%-cache page do-%>
<form method="post" <%=page.as_item_attributes%>>
  <fieldset class="admin" >
    <input placeholder="title" itemprop="title" value="<%=page.title%>" >
    <input type="url" placeholder="url"       itemprop="url"           value="<%=page.url%>" >
    <input type="url" placeholder="thumbnail" itemprop="thumbnail_url" value="<%=page.thumbnail_url%>">
    <input type="url" placeholder="author"    itemprop="author_url"    value="<%=page.author.url if page.author %>">
  </fieldset>
</form>
<%-end-%>
