<%-cache page do-%>
<details itemscope itemtype='/pages' itemid='<%=page.id%>' data-author_state="<%=page.author_state%>">
  <summary>
    <h2 itemprop="title"><%=page.title%></h2>
    <figure>
      <img itemprop="thumbnail_url" src="<%=page.thumbnail%>" alt="tip image" title="<%=page.title%>"/> 
      <figcaption data-cents="<%=page.tips.for_author.sum(:amount_in_cents)%>"></figcaption>
    </figure>
  </summary>
  <dl>
    <dt>Source</dt>
    <dd><a itemprop="url" target="_blank" href="<%=page.url%>"><%=URI(URI.escape(page.url)).host%></a></dd>
    <dt>
      <details>
        <summary><%=pluralize(page.tips.for_author.count, 'tip')%></summary>
        <table>
          <thead>
            <tr>
              <th>when</th>
              <th>amount</th>
              <th>paid?</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial:"tips/author_tips", collection:page.tips.for_author, as: :tip %>
          </tbody>
        </table>
      </details>          
    </dt>
  </dl>        
</details>
<%-end-%>