<%-cache [page, current_user] do-%>
<details itemscope itemtype='/pages' itemid='<%=page.id%>' data-author_state="<%=page.author_state%>">
  <summary>
    <figure>
      <img itemprop="thumbnail_url" src="<%=page.thumbnail%>" alt="tip image" title="<%=page.title%>"/> 
      <figcaption>
        <p data-cents='<%=current_user.tips.where(page_id:page.id).sum(:amount_in_cents)%>'></p>
        <h2 itemprop="title"><%=page.title%></h2>
      </figcaption>
    </figure>
  </summary>
  <section>
    <header>
      <hgroup>
        <h3 itemprop="title"><a itemprop="url" target="_blank" href="<%=page.url%>"><%=page.title%></a></h3>
      </hgroup>
      <hgroup>
        <h4><a itemprop="url" target="_blank" href="<%=page.url%>"><%=URI(URI.escape(page.url)).host%></a></h4>
      </hgroup>     
    </header>
    <table id="tips">
      <thead>
        <tr>
          <th>when</th>
          <th>amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial:"tips/details", collection:current_user.tips.where(page_id:page.id), as: :tip %>
      </tbody>
    </table>
  </section>
</details>
<%-end-%>