<%-cache [page, current_user] do-%>
<details itemscope itemtype='/pages' itemid='<%=page.id%>' data-author_state="<%=page.author_state%>">
  <summary>
    <h2 itemprop="title"><%=page.title%></h2>
    <figure>
      <img itemprop="thumbnail_url" src="<%=page.thumbnail%>" alt="tip image" title="<%=page.title%>"/> 
      <figcaption><%=current_user.tips.where(page_id:page.id).sum(:amount_in_cents)%></figcaption>
    </figure>
  </summary>
  <dl>
    <dt>Source</dt>
    <dd><a itemprop="url" target="_blank" href="<%=page.url%>"><%=URI(URI.escape(page.url)).host%></a></dd>
    <dt>
      <details open>
        <summary><%=pluralize(current_user.tips.where(page_id:page.id).count, 'tip')%></summary>
        <table id="tips">
          <thead>
            <tr>
              <th>when</th>
              <th>amount</th>
              <th>cancel tip</th>
            </tr>
          </thead>
          <tbody>
            <%= render partial:"tips/fan_tip", collection:current_user.tips.where(page_id:page.id), as: :tip %>
          </tbody>
        </table>
      </details>
    </dt>
  </dl>        
</details>
<%-end-%>