<%-cache page do-%>
<section>
  <header></header>
  <dl itemscope itemtype='pages' itemid='/pages/<%=page.id%>'>
    <dt>ID</dt>
    <dd itemprop="id"><%=page.id%></dd>
    <dt>Created</dt>
    <dd itemprop="created_at"><time itemprop="created_at" datetime="<%=page.created_at.getutc.iso8601%>"/></dd>
    <dt>updated</dt>
    <dd><time itemprop="updated_at" datetime="<%=page.updated_at.getutc.iso8601%>"/></dd>
    <dt>author state</dt>
    <dd itemprop='author_state'><%=page.author_state%></dd>
    <dt>title</dt>
    <dd itemprop='title'><%=page.title%></dd>
    <dt>url</dt>
    <dd itemprop='url'><a href="<%=page.url%>"><%=page.url%></a></dd>
    <dt>thumbnail_url</dt>
    <dd itemprop='thumbnail_url'><%=page.thumbnail_url%></dd>
  </dl>
  <footer>
    <details itemscope itemtype='authors' itemid='/authors/<%=page.author_id%>'>
      <summary>author</summary>
    </details>
    <details itemscope itemtype='tips' itemid='/pages/<%=page.id%>/tips'>
      <summary>tips</summary>
    </details>
    <details itemscope itemtype='checks' itemid='/pages/<%=page.id%>/checks'>
      <summary>checks</summary>
    </details>
  </footer>
</section>
<%-end-%>