<figure itemscope itemtype='pages' itemid='/pages/<%=page.id%>'>
  <a itemprop="url" target="_self" href="/pages/<%=page.id%>"><img itemprop="thumbnail_url" src="<%=page.thumbnail%>" /></a>
  <%-if page.author -%>
  <figcaption itemprop="name">
    <p><%=page.title%></p>
    <p><%=page.author.username%></p>
  </figcaption>
  <%-end-%>
</figure>