<%-cache page do-%>
  <%-if page.tips.count > 0 and page.thumbnail_url and not %r{www.copper.is}.match(URI.parse(page.url).host) -%>
    <figure itemscope itemtype='pages' itemid='/pages/<%=page.id%>' data-author_state="<%=page.author_state%>">
      <figcaption itemprop="title"><%=page.title%></figcaption>
      <a itemprop="url" target="_blank" href="<%=page.url%>">
        <img itemprop="thumbnail_url" src="<%=page.thumbnail%>" alt="tip image" title="<%=page.title%>"/> 
      </a>
    </figure>
  <%-end-%>
<%-end-%>