<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
    <title>¢ – <%=@page.title%></title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="<%=image_path('icons/favicon.ico')%>">
    <link rel="icon"      type="image/svg"  href="<%=image_path('icons/logo.svg')%>" >
    <link rel="logo"      type="image/svg" type="image/svg" href="<%=image_path('icons/logo.svg')%>">
    <%= stylesheet_link_tag "application", media:"all" %>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Cantarell|Nothing+You+Could+Do|Doppio+One|Bree+Serif|Patua+One' >
    <%= csrf_meta_tag %>
    <link rel="author" href="<%=@page.author.url if @page.author %>">
    <meta property="fb:app_id" content="<%=Copper::Application.config.facebook_appid%>">
    <meta property="og:type"   content="website"> 
    <meta property="og:url"    content="<%=@page.url%>"> 
    <meta property="og:title"  content="<%=@page.title%>"> 
    <meta property="og:image"  content="<%=@page.thumbnail%>"> 
  </head>
  <body id="<%= params[:controller].parameterize%>_<%= params[:action].parameterize%>" <%=item_scope%>>
    <header>
      <a href="/"><%= image_tag "icons/logo_light.svg", :title => "logo" %></a>
      <nav>
        <a href="/faq">FAQ</a>
        <a href="/signout">Sign Out</a>
      </nav>
      <hgroup id="user_nav">
        <nav>
          <%= link_to image_tag("noun_project/7719.svg"), '/author', title:"Who's tipping you" %>
          <%= link_to image_tag("icons/gear_white.svg"), '/settings', :title => "Account settings"%>
        </nav>
        <%= image_tag "icons/silhouette.svg", class:"author", alt:"me" %>
      </hgroup>
     </header>
     <a id="copper_button"><%= image_tag "icons/letter_logo.svg", :title => "Tip: #{@page.title}" %></a>
     <iframe id="page_url" itemprop="url" seamless allowtransparency src="<%=@page.url%>"> </iframe>
    <footer>
      <h3>Copper, Inc</h3>
      <nav>
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms of Use</a>
      </nav>
      <h4>Copyright © 2012 Copper Inc. All rights reserved</h4>
    </footer>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "analytics" if Rails.env.production? %>
  </body>
</html>





