<%-content_for :head do-%>
  <title><%=current_user.name%> - Copper</title>
  <%= stylesheet_link_tag "users/identities" %>
<%-end-%>
<section id="identities">
  <h1>Link accounts</h1>
  <nav>
    <a id="twitter_sign_in" href="/auth/twitter"><%= image_tag "providers/twitter.png" %></a>
    <a id="facebook_sign_in" href="/auth/facebook"><%= image_tag "providers/facebook.jpg" %></a>
    <a id="google_sign_in" href="/auth/google_oauth2"><%= image_tag "providers/google.png" %></a>
    <a id="tumblr_sign_in" href="/auth/tumblr"><%= image_tag "providers/tumblr.png" %></a>
    <a id="github_sign_in" href="/auth/github"><%= image_tag "providers/github.svg" %></a>
    <a id="vimeo_sign_in" href="/auth/vimeo"><%= image_tag "providers/vimeo.png" %></a>
    <a id="soundcloud_sign_in" href="/auth/soundcloud"><%= image_tag "providers/soundcloud.png" %></a>
    <a id="flickr_sign_in" href="/auth/flickr"><%= image_tag "providers/flickr.png" %></a>
  </nav>
  <h1>Linked accounts</h1>
  <%-current_user.identities.each do |identity|-%>
    <%= render :partial => 'identities/providers/' + identity.provider, :object => identity %>
  <%-end-%>
</section>