<% title "Edit Resource Locations" %>
<section>
  <% form_for(@resource) do |f| %>
    <aside>
      <%= f.error_messages %>    
    </aside>

    <fieldset>
      <legend>Modify a resource</legend>

      <label for="resource_scheme"><%= f.label :scheme %></label>
      <%= f.text_field :scheme %>

      <label for="resource_domain"><%= f.label :domain %></label>
      <%= f.text_field :domain %>    

      <label for="resource_label"><%= f.label :port %></label>
      <%= f.text_field :port %>

      <label for="resource_path"><%= f.label :path %></label>
      <%= f.text_field :path %>

      <label for="resource_query"><%= f.label :query %></label>
      <%= f.text_field :query %>

      <label for="resource_anchor"><%= f.label :anchor %></label>
      <%= f.text_field :anchor %>

    </fieldset>
    <%= f.submit 'Update' %>
  <% end %>

  <nav>
    <%= link_to 'Show', @resource %> |
    <%= link_to 'Back', resources_path %>  
  </nav>  
</section>
