<% title "List Resource Location" %>
<section>
  <header>
    <aside>viewing</aside>
    <h1>Publisher resources</h1>
    <nav>
      <%= link_to 'New resource', new_resource_path %>
    </nav>
  </header>
  <table>
    <tr>
      <th>Scheme</th>
      <th>Username</th>
      <th>Hostname</th>
      <th>Port</th>
      <th>Path</th>
      <th>Query</th>
      <th>Anchor</th>
      <th>Resource Commands</th>
    </tr>
    <% @resources.each do |resource| %>
    <tr>
      <td><%=h resource.scheme %></td>
      <td><%=h resource.userinfo %></td>
      <td><%=h resource.host %></td>
      <td><%=h resource.port %></td>
      <td><%=h resource.path %></td>
      <td><%=h resource.query %></td>
      <td><%=h resource.fragment %></td>
      <td>
        <nav>
          <%= link_to 'Show', resource %>
          <%= link_to 'Edit', edit_resource_path(resource) %>
          <%= link_to 'Destroy', resource, :confirm => 'Are you sure?', :method => :delete %>
        </nav>
      </td>
    </tr>
    <% end %>
  </table>
  <footer>
    <nav>
      <%= link_to 'New resource', new_resource_path %>
    </nav>
  </footer>
</section>

