<% title "New Resource Location" %>
<section>
  <header>
    <aside>
      Resource Form For...
    </aside>
    <h1><%= title %></h1>
    <nav>
      <%= link_to 'Back', resources_path %>
    </nav>
  </header>
  <% form_for(@resource) do |f| %>    
  <fieldset>
    <legend><%= f.error_messages %></legend>
    
    <label for="resource_scheme"><%= f.label :scheme %></label>
    <%= f.text_field :scheme %>
    <label for="resource_username"><%= f.label :username %></label>
    <%= f.text_field :username %>
    <label for="resource_domain"><%= f.label :domain %></label>
    <%= f.text_field :domain %>
    <label for="resource_port"><%= f.label :port %></label>
    <%= f.text_field :port %>
    <label for="resource_path"><%= f.label :path %></label>
    <%= f.text_field :path %>
    <label for="resource_query"><%= f.label :query %></label>
    <%= f.text_field :query %>
    <label for="resource_anchor"><%= f.label :anchor %></label>
    <%= f.text_field :anchor %>
  </fieldset>
  <%= f.submit 'Create' %>
  <% end %>
  <footer>
    <nav>
      <%= link_to 'Back', resources_path %>
    </nav>
  </footer>
</section>