<section>
  <% title "Show Resource location" %>
  <header>
    <aside>
      Show Resource
    </aside>
    <h1><%= title %></h1>
    <nav>
      <%= link_to 'Edit', edit_resource_path(@resource) %>
      <%= link_to 'Back', resources_path %>
    </nav>
  </header>

  <dl>

    <dt>Scheme:</dt>
    <dd><%=h @resource.scheme %></dd>

    <dt>Username:</dt>
    <dd><%=h @resource.username %></dd>

    <dt>Domain:</dt>
    <dd><%=h @resource.domain %></dd>

    <dt>Port:</dt>
    <dd><%=h @resource.port %></dd>

    <dt>Path:</dt>
    <dd><%=h @resource.path %></dd>

    <dt>Query:</dt>
    <dd><%=h @resource.query %></dd>

    <dt>Anchor:</dt>
    <dd><%=h @resource.anchor %></dd>

  </dl>

  <footer>
    <nav>
      <%= link_to 'Edit', edit_resource_path(@resource) %>
      <%= link_to 'Back', resources_path %>
    </nav>
  </footer>

</section>