<% title "Display resource" %>
<section>
  <header>
    <aside>
      Show Resource
    </aside>
    <h1>Info for resource #<%= @resource.id %></h1>
    <nav>
      <%= link_to 'Edit', edit_resource_path(@resource) %>
      <%= link_to 'Back', resources_path %>
    </nav>
  </header>

  <dl>
    <dt>Scheme:</dt>
    <dd><%=h @resource.scheme %></dd>

    <dt>Userinfo:</dt>
    <dd><%=h @resource.userinfo %></dd>

    <dt>Host:</dt>
    <dd><%=h @resource.host %></dd>

    <dt>Port:</dt>
    <dd><%=h @resource.port %></dd>

    <dt>Registry:</dt>
    <dd><%=h @resource.registry %></dd>

    <dt>Path:</dt>
    <dd><%=h @resource.path %></dd>

    <dt>Opaque:</dt>
    <dd><%=h @resource.opaque %></dd>

    <dt>Query:</dt>
    <dd><%=h @resource.query %></dd>

    <dt>Fragment:</dt>
    <dd><%=h @resource.fragment %></dd>
  </dl>

  <footer>
    <nav>
      <%= link_to 'Edit', edit_resource_path(@resource) %>
      <%= link_to 'Back', resources_path %>
    </nav>
  </footer>
</section>