<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css" media="screen">
      body {
        background-color:#FBF6F1;
        color:#666;
      }
      body > a {
        margin-top:1em;
        display:block;
        text-align:center;
        width:100%;
      }
      menu {display:none;}
      form {display:none;}
      table{width:100%;}
      td {width:33%;}
    </style>
  </head>
  <body>
    <a href="http://copper.is">
      <img src="http://copper.is/assets/logo/copper/copper.png" width="100px">
    </a>
    <h1>Thanks for your payment</h1>
    <p>
      Your tips are now being sent along to your selected Authors. 
    </p>
    <p>
      If for some reason the Author does not accept their tip in the next year
      your money will be credited back to your account.
    </p>
    <h3>-The Copper team</h3>
    
    <h2>Order Details for order #<%= @order.id%></h2>
    <p>Tips: <%=@order.tips.count%></p>
    <p>Subtotal: $<%= cents_to_dollars(@order.subtotal) %></p>
    <p>Fees: $<%= cents_to_dollars(@order.fees) %></p>
    <p style="color:red; font-weight:bold;">Total: $<%= cents_to_dollars(@order.total) %></p>      

    <h3>Tips</h3>
    <table>
      <tbody>
        <%= render :partial => 'shared/tips', :object => @order.tips %>
      </tbody>
    </table>
  </body>
</html>
