<h1>Editing address</h1>

<% form_for(@address) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :street1 %><br />
    <%= f.text_field :street1 %>
  </p>
  <p>
    <%= f.label :street2 %><br />
    <%= f.text_field :street2 %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @address %> |
<%= link_to 'Back', addresses_path %>