<section>
  <header>
    <aside>
      Show the....
    </aside>
    <h1>Address</h1>
    <nav>
      <%= link_to 'Edit', edit_address_path(@address) %>
      <%= link_to 'Back', addresses_path %>
    </nav>
  </header>
  <dl>
    <dt>Street1:</dt>
    <dd><%=h @address.street1 %></dd>

    <dt>Street2:</dt>
    <dd><%=h @address.street2 %></dd>

    <dt>City:</dt>
    <dd><%=h @address.city %></dd>

    <dt>Zip:</dt>
    <dd><%=h @address.zip %></dd>

    <dt>Country:</dt>
    <dd><%=h @address.country %></dd>

  </dl>

  <footer>
    <nav>
      <%= link_to 'Edit', edit_address_path(@address) %>
      <%= link_to 'Back', addresses_path %>
    </nav>
  </footer>
</section>
