<%-content_for :head do-%>
  <title><%=current_user.name%> - Copper</title>
  <%= stylesheet_link_tag "royalties/index" %>
  <%= javascript_include_tag "royalties/index" %>
<%-end-%>
<section id="tip_index">
  <header>
    <%= render :partial => 'shared/dashboard' %>
    <hgroup>
      <form method="post" accept-charset="utf-8" id="new_tip">
        <input name="utf8" type="hidden" value="✓">
        <input name="authenticity_token" type="hidden">
        <label for="uri">URL</label>
        <input type="text" name="tip[uri]" value="" id="uri" autofocus />
        <input type="submit" value="TIP">
      </form>
    </hgroup>
  </header>
  <table id="royalties">
    <thead>
      <tr>
        <th>
          <span>Royalties</span>
          <%= render @royalties %>
        </th>
        <th>When</th>
        <th>Manage</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'shared/royalties', :object => @royalties %>
    </tbody>
  </table>
</section>
