<% title "List Locators" %>
<section>
  <header>
    <aside>viewing</aside>
    <h1>Locators</h1>
    <nav>
      <%= link_to 'New Locator', new_locator_path %>
    </nav>
  </header>
  <table>
    <tr>
      <th>Scheme</th>
      <th>Username</th>
      <th>Hostname</th>
      <th>Port</th>
      <th>Path</th>
      <th>Query</th>
      <th>Anchor</th>
      <th>Resource Commands</th>
    </tr>
    <% @locators.each do |locator| %>
    <tr>
      <td><%=h locator.scheme %></td>
      <td><%=h locator.userinfo %></td>
      <td><%=h locator.host %></td>
      <td><%=h locator.port %></td>
      <td><%=h locator.path %></td>
      <td><%=h locator.query %></td>
      <td><%=h locator.fragment %></td>
      <td>
        <nav>
          <%= link_to 'Show', locator %>
          <%= link_to 'Edit', edit_locator_path(locator) %>
          <%= link_to 'Destroy', locator, :confirm => 'Are you sure?', :method => :delete %>
        </nav>
      </td>
    </tr>
    <% end %>
  </table>
  <footer>
    <nav>
      <%= link_to 'New Locator', new_locator_path %>
    </nav>
  </footer>
</section>

