<% title "New Locator" %>
<section>
  <header>
    <aside>
      Locator Form For...
    </aside>
    <h1>Add a new Locator</h1>
    <nav>
      <%= link_to 'Back', locators_path %>
    </nav>
  </header>
  <% form_for(@locator) do |f| %>
  <fieldset>
    <legend><%= f.error_messages %></legend>

    <label for="locator_scheme"><%= f.label :scheme %></label>
    <%= f.text_field :scheme %>
    <label for="locator_userinfo"><%= f.label :userinfo %></label>
    <%= f.text_field :userinfo %>
    <label for="locator_host"><%= f.label :host %></label>
    <%= f.text_field :host %>
    <label for="locator_port"><%= f.label :port %></label>
    <%= f.text_field :port %>
    <label for="locator_registry"><%= f.label :registry %></label>
    <%= f.text_field :registry %>
    <label for="locator_path"><%= f.label :path %></label>
    <%= f.text_field :path %>
    <label for="locator_opaque"><%= f.label :opaque %></label>
    <%= f.text_field :opaque %>
    <label for="locator_query"><%= f.label :query %></label>
    <%= f.text_field :query %>
    <label for="locator_fragment"><%= f.label :fragment %></label>
    <%= f.text_field :fragment %>
  </fieldset>
  <%= f.submit 'Create' %>
  <% end %>
  <footer>
    <nav>
      <%= link_to 'Back', locators_path %>
    </nav>
  </footer>
</section>