<section>
  <% title "Show Locator" %>
  <header>
    <aside>
      Show Locator
    </aside>
    <h1>Info for Locator #<%= @locator.id %></h1>
    <nav>
      <%= link_to 'Edit', edit_locator_path(@locator) %>
      <%= link_to 'Back', locators_path %>
    </nav>
  </header>

  <dl>
    <dt>Scheme:</dt>
    <dd><%=h @locator.scheme %></dd>

    <dt>Userinfo:</dt>
    <dd><%=h @locator.userinfo %></dd>

    <dt>Host:</dt>
    <dd><%=h @locator.host %></dd>

    <dt>Port:</dt>
    <dd><%=h @locator.port %></dd>

    <dt>Registry:</dt>
    <dd><%=h @locator.registry %></dd>

    <dt>Path:</dt>
    <dd><%=h @locator.path %></dd>

    <dt>Opaque:</dt>
    <dd><%=h @locator.opaque %></dd>

    <dt>Query:</dt>
    <dd><%=h @locator.query %></dd>

    <dt>Fragment:</dt>
    <dd><%=h @locator.fragment %></dd>
  </dl>

  <footer>
    <nav>
      <%= link_to 'Edit', edit_locator_path(@locator) %>
      <%= link_to 'Back', locators_path %>
    </nav>
  </footer>
</section>