<%-content_for :head do-%>
  <title><%=current_user.name%> royalties - Copper</title>
  <%= stylesheet_link_tag "royalties/index" %>
<%-end-%>
<section id="checks">
  <header>
    <h1>Royalties</h1>
  </header>
  <table>
    <thead>
      <tr>
        <th>Amount</th>
        <th>Status</th>
        <th>Tips</th>
      </tr>
    </thead>
    <tbody>
      <%-@checks.each do |check|-%>
       <tr>
         <td>
           <%=cents_to_dollars(check.tips.sum(:amount_in_cents))%>
         </td>
         <td>
            <%=check.check_state%>
         </td>
          <td>
            <%=check.tips.count()%>
         </td>
       </tr>
      <%-end-%>
    </tbody>
  </table>
</section>