<style>
  @import url(/bookmarklet/design.css);
</style>
<section>
  <h1>What's Next?</h1>
  <ol>
    <li>
      <h2>Install the Weave bookmarklet</h2>
      <p>
        Drag this Weave bookmarklet to your browser toolbar.
        You can then tip sites as you browse them.
      </p>
      <div>&#x27A0;</div>
      <a id="weave_us" href="<%= render :partial => 'wrapped_launcher.js' %>" tabindex="1" accesskey="p">weave.us</a>
    </li>
    <li>
      <h2>Use the weave badge on your site</h2>
      <p>
        Copy the contents of this box into any page you'd like
        to help promote the service.
      </p>
      <textarea name="copy">
<img style="cursor:pointer; width:222px; height:222px" src="<%=request.scheme%>://<%=request.host%>:<%=request.port%>/bookmarklet/badge.png" onclick="<%= render :partial => 'launcher.js' %>"/>
      </textarea>
    </li>
  </ol>
</section>