<menu class='guest authentication'>
  <h6>Sign in</h6>
  <a href="/auth/facebook" title='Sign in with facebook'>
    <svg><use xlink:href="<%= asset_path('icons/providers.svg#facebook') %>"/><svg>
  </a>
  <a href="/auth/twitter" title='Sign in with twitter'>
    <svg><use xlink:href="<%= asset_path('icons/providers.svg#twitter') %>"/><svg>
  </a>
  <a href="/auth/tumblr" title='Sign in with tumblr'>
    <svg><use xlink:href="<%= asset_path('icons/providers.svg#tumblr') %>"/><svg>
  </a>
  <a href="/auth/github" title='Sign in with github'>
    <svg><use xlink:href="<%= asset_path('icons/providers.svg#github') %>"/><svg>
  </a>
  <a href="/auth/google" title='Sign in with google'>
    <svg><use xlink:href="<%= asset_path('icons/providers.svg#google') %>"/><svg>
  </a>
</menu>
