<menu>

  <menu class='tips'>
    <h6>Tips</h6>
    <a href="/pages/trending">Trending</a>
    <a href="/pages/recent">Recent</a>
  </menu>

  <menu class="fan tips">
    <h6>Tips I have</h6>
    <a href="/tips/given">Given</a>
    <a href="/tips/received">Received</a>
  </menu>

  <menu class='fan options'>
    <h6>My</h6>
    <a href="/my/settings">Settings</a>
    <a href="/my/authorizations">Authoizations</a>
  </menu>

  <menu class='fan signout'>
    <h6>Sign Out</h6>
    <a href="/signout">
      <svg><use xlink:href="<%= asset_path('icons/actions.svg#power') %>"/></svg>
    </a>
  </menu>

  <menu class='guest authentication'>
    <h6>Sign in</h6>
    <a href="/auth/facebook" title='Sign in with facebook'>
      <svg><use xlink:href="<%= asset_path('icons/providers.svg#facebook') %>"/><svg>
    </a>
    <a href="/auth/twitter" title='Sign in with twitter'>
      <svg><use xlink:href="<%= asset_path('icons/providers.svg#twitter') %>"/><svg>
    </a>
    <a href="/auth/tumblr" title='Sign in with tumblr'>
      <svg><use xlink:href="<%= asset_path('icons/providers.svg#tumblr') %>"/><svg>
    </a>
    <a href="/auth/github" title='Sign in with github'>
      <svg><use xlink:href="<%= asset_path('icons/providers.svg#github') %>"/><svg>
    </a>
    <a href="/auth/google" title='Sign in with google'>
      <svg><use xlink:href="<%= asset_path('icons/providers.svg#google') %>"/><svg>
    </a>
  </menu>

</menu>
