<% title "Login to the communist thank you " %> 
<% form_for @user_session do |f| %>
  <aside>
    <%= f.error_messages %>    
  </aside>
  <fieldset>
    <legend>Log in to thank bitches</legend>
    <label for="user_email"><%= f.label :email %></label>
    <%= f.text_field :email %>
    
    <label for="user_password"><%= f.label :password %></label>
    <%= f.password_field :password %>        
  </fieldset>
  <%= f.submit "Submit" %>  
<% end %>


