<% title "Edit a thank you" %>

<section>
  <% form_for(@tip) do |f| %>
    <aside>
      <%= f.error_messages %>
    </aside>

    <fieldset>
      <label for="tip_url"><%= f.label :url %></label>
      <%= f.text_area :url %>
      
      <label for="tip_amount"><%= f.label :amount %></label>
      <%= f.text_field :amount %>
    </fieldset>

    <%= f.submit 'Update' %>

  <% end %>

  <nav>
    <%= link_to 'Show', @tip %>
    <%= link_to 'Back', tips_path %>
  </nav>  
</section>


