<section>
  <header>
    <% if current_user.active_tip_order.time_to_pay? %>
      <h1>It's time to pay for your tips</h1>
      <%= render :partial => 'shared/credit_card' %>
    <%else%>
      <%= render :partial => 'shared/dashboard' %>
      <hgroup>
        <%= form_for(@tip) do |f| %>
          <label for="uri">URL</label>
          <input type="text" name="tip[uri]" value="" id="uri" autofocus />
          <%= f.submit 'Tip' %>
        <% end %>
      </hgroup>
    <%end%>
  </header>

  <table id="tips">
    <thead>
      <tr>
        <th>
          <span>Tips</span>
          <%if current_user.tip_orders.count > 1 %>
          <nav id="tip_views">
            <a href="/tips?all=true#all_tips" id="all_tips">All</a>
            <a href="/tips#active_tips" id="active_tips">Active</a>
          </nav>
          <%end%>
        </th>
        <th>When</th>
        <th>Manage</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'shared/tips', :object => @tips %>
    </tbody>
  </table>
  <style>
    @import url(/tips/design.css);
  </style>
  <script src="/behavior/jquery.timeago.js"></script>
  <script src="/tips/behavior.js"></script>
</section>

