<section>
  <header>
    <%= form_for(@tip) do |f| %>
      <fieldset>
        <label for="uri">Paste a Tip</label>
        <input type="text" name="tip[uri]" value="" id="uri" />
      </fieldset>
      <%= f.submit 'IOU' %>
    <% end %>
    <%= render :partial => 'shared/dashboard' %>
  </header>
  <table id="tips">
    <thead>
      <tr>
        <th>Tip history</th>
        <th>Date</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
     <% @current_user.tips.each do |tip| %>
       <tr>
         <td>
           <a href='<%= tip.locator.canonicalized %>' target='new'>
            <%= CGI::unescape(tip.locator.page.description) %>
           </a>
           <p>
            <%= tip.note %>
           </p>
         </td>
         <td>
           <time datetime="<%= tip.created_at.getutc.iso8601 %>"><%= tip.created_at.strftime("%B %e, %Y") %></time>
         </td>
         <td>
           <form action='/tips/<%=tip.id%>' method="delete" target="interact">
             <input type="submit" name="submit" value="x">
           </form>
         </td>
       </tr>
     <% end %>
    </tbody>
  </table>
</section>
<style>
  @import url(/tips/design.css);
</style>
<script src="/behavior/jquery.timeago.js"></script>
<script src="/tips/behavior.js"></script>

