<% title "My Tips" %>
<style>
  @import url(/tips/design.css);
</style>
<h1>My Tips</h1>
<section>
  <header>
      <% form_for(@tip) do |f| %>
        <aside>
          <%= f.error_messages %>
        </aside>
        <fieldset>
          <label for="uri">Leave a Tip</label>
          <textarea name="tip[uri]" value="" id="uri"></textarea>
        </fieldset>
        <%= f.submit 'Tip' %>
      <% end %>
    <%= render :partial => 'shared/dashboard' %>
  </header>


  <table>
    <thead>
      <tr>
        <th>Tip</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
     <% @current_user.active_tips.each do |tip| %>
       <tr>
         <td>
           <a href='<%=h tip.locator.canonicalized %>' target='new'>
            <%=h CGI::unescape(tip.locator.page.description) %>
           </a>
           <a href='<%=h tip.locator.canonicalized %>' target='new' class="locator">
            <%=h tip.locator.canonicalized %>
           </a>
           <p>
            <%=h tip.note %>
           </p>
         </td>
         <td><%=h tip.created_at.strftime("%B %e, %Y") %></td>
       </tr>
     <% end %>
    </tbody>
  </table>
</section>