<% title "Tips" %>
<%= render :partial => 'form' %>
<table>
  <caption>Recent Tip List</caption>
  <thead>
    <tr>
      <th>Resource</th>
      <th>Amount</th>
      <th>User</th>
      <th>Specifics</th>
    </tr>
  </thead>
  <tbody>
   <% @tips.each do |tip| %>
     <tr>
       <td><%=h tip.url %></td>
       <td><%=h tip.amount %></td>
       <td><%=h tip.user_id %></td>
       <td><%= link_to 'Show', tip %></td>
     </tr>
   <% end %>
  </tbody>
</table>
