<section>
  <style>
    @import url(/tips/design.css);
  </style>
  <header>
    <%= form_for(@tip) do |f| %>
      <fieldset>
        <label for="uri">Paste a Tip</label>
        <input type="text" name="tip[uri]" value="" id="uri" />
      </fieldset>
      <%= f.submit 'Tip' %>
    <% end %>
    <%= render :partial => 'shared/dashboard' %>
  </header>
  <table>
    <thead>
      <tr>
        <th>Tip history</th>
        <th>Date</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
     <% @current_user.tips.each do |tip| %>
       <tr>
         <td>
           <a href='<%=h tip.locator.canonicalized %>' target='new'>
            <%= CGI::unescape(tip.locator.page.description) %>
           </a>
           <p>
            <%= tip.note %>
           </p>
         </td>
         <td><%= tip.created_at.strftime("%B %e, %Y") %></td>
         <td><a rel="interact" href='#delete_tip'>x</a></td>
       </tr>
     <% end %>
    </tbody>
  </table>
</section>
