<section>
  <header>
    <% if current_user.time_to_pay? %>
      <h1>It's time to pay for your tips</h1>
      <%= render :partial => 'shared/credit_card' %>
    <%else%>    
      <%= render :partial => 'shared/dashboard' %>
      <%= form_for(@tip) do |f| %>
        <label for="uri">URL</label>
        <input type="text" name="tip[uri]" value="" id="uri" />
        <%= f.submit 'Tip' %>
      <% end %>
    <%end%>
  </header>
  <table id="tips">
    <thead>
      <tr>
        <th>
          <span>Tips</span> 
          <menu>
            <a href="#current_tips">Current</a>
            <a href="#all_tips">All</a>
          </menu>
        </th>
        <th>When</th>
        <th>Manage</th>
      </tr>
    </thead>
    <tbody>
     <% @current_user.active_tips.each do |tip| %>
       <tr>
         <td>
           <a href='<%= tip.locator.canonicalized %>' target='new'>
            <%= CGI::unescape(tip.locator.page.description) %>
           </a>
           <p>
            <%= tip.note %>
           </p>
         </td>
         <td>
           <time datetime="<%= tip.created_at.getutc.iso8601 %>"><%= tip.created_at.strftime("%B %e, %Y") %></time>
         </td>
         <td>
           <span>$<%= cents_to_dollars(tip.amount_in_cents) %></span>
           <form action='/tips/<%=tip.id%>' method="delete" target="interact">
             <input type="submit" name="submit" value="x">
           </form>
         </td>
       </tr>
     <% end %>
    </tbody>
  </table>
</section>
<style>
  @import url(/tips/design.css);
</style>
<script src="/behavior/jquery.timeago.js"></script>
<script src="/tips/behavior.js"></script>

