<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "tips/new" %>
    <%= javascript_include_tag "tips/new" %>
    <%= javascript_include_tag "shared/analytics" if Rails.env.production?%>
  </head>
  <body id="<%= params[:controller].parameterize%>_<%= params[:action].parameterize%>" <%=item_scope%> itemid="create">
    <section>
      <header>
        <h1>You're Tipping</h1>
        <p itemprop="amount_in_cents"><%= current_user.tip_preference_in_cents%></p>
      </header>
      <p itemprop="title"></p>
    </section>

  </body>
</html>
