<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "tips/new" %>
    <%= javascript_include_tag "tips/new" %>
    <%= javascript_include_tag "shared/analytics" if Rails.env.production?%>
  </head>
  <body id="<%= params[:controller].parameterize%>_<%= params[:action].parameterize%>" 
        <%=item_scope%> itemid="/tips/new">
    <section>
      <header>
        <h1>You're Tipping</h1>
        <p itemprop="amount_in_cents"><%= current_user.tip_preference_in_cents%></p>
      </header>
      <p itemprop="title"></p>
      <a style="display:none;" href="https://twitter.com/share" class="twitter-share-button" data-url="http://copper.is" data-text="big deal time" data-count="none" data-hashtags="tipped" data-dnt="true">Tweet</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fcopper.is&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font=arial&amp;height=21&amp;appId=265853386838821" scrolling="no" frameborder="0" style="display:none; border:1px solid red; overflow:hidden; width:75px; height:21px;" allowTransparency="true"></iframe>
    </section>
    <form  method="post" accept-charset="utf-8">
      <input itemprop="url" name="tip[url]" type="hidden"/>
      <input itemprop="title" name="tip[title]" type="hidden" />
      <input itemprop="amount_in_cents" name="tip[amount_in_cents]" 
             type="hidden" value="<%= current_user.tip_preference_in_cents%>"/>
    </form>
  </body>
</html>
