<% title "a thank you" %>
<section>
  <header>
    <aside>
      A thank you
    </aside>
    <h1><%= title %></h1>
    <nav>
      <% title "a thank you" %>
      <% if permitted_to? :edit, @tip %>
        <%= link_to 'Edit', edit_tip_path(@tip) %>
      <% end %>
      <%= link_to 'Back', tips_path %>
    </nav>
  </header>
  <dl>
    <dt>Url:</dt>
      <dd><%=h @tip.url %></dd>
    <dt>Amount:</dt>
      <dd><%=h @tip.amount %></dd>
    <dt> User ID:</dt>
      <dd><%=h @tip.user_id %></dd>      
  </dl>
  
  <footer>
    <nav>
      <% if permitted_to? :edit, @tip %>
        <%= link_to 'Edit', edit_tip_path(@tip) %>
      <% end %>
      <%= link_to 'Back', tips_path %>    
    </nav>  
  </footer>
  
</section>
