<meta name="event_trigger" content="tip_success"/>
<header>
  <h1>Tipped</h1>
  <%- flash.each do |name, msg| -%>
      <%= "<ol id=#{name}" %>
        <%- msg.each do |m| -%>
          <li><%= m %></li>
        <%- end -%>
      </ol>
  <%- end -%>
</header>
<dl >
  <dt>Title</dt>
    <dd><%=h @tip.locator.page.description %></dd>
  <dt>Url:</dt>
    <dd><%=h @tip.locator.canonicalized %></dd>
  <dt>Multiplier:</dt>
    <dd><%=h @tip.multiplier %></dd>
</dl>
