<meta name="event_trigger" content="tip_success"/>
<script src="/bookmarklet/behavior.tip_success.js"></script>
<style>
  @import url(/bookmarklet/design.tip_success.css?1);
</style>

<section itemscope="true" itemtype="http://weave.us/tip">
  <header>
    <h1>You left a tip</h1>
    <%- flash.each do |name, msg| -%>
        <%= "<ol id=#{name}" %>
          <%- msg.each do |m| -%>
            <li><%= m %></li>
          <%- end -%>
        </ol>
    <%- end -%>
  </header>
  <h2>Page:</h2>
  <p itemprop="description"><%=h CGI::unescape(@tip.locator.page.description) %></p>
  <p itemprop="url"><%=h @tip.locator.canonicalized %></p>
  <button id="<%=@tip.id%>">Add memo</button>
  <form>
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>" id="authenticity_token"/>
    <input name="_method" type="hidden" value="put">
    <fieldset>
      <label for="note">Notes:</label>
      <textarea name="tip[note]"></textarea>
    </fieldset>
    <input type="submit" name="cancel" value="cancel" />
    <input type="submit" name="save" value="save" />
  </form>
</section>
<%= render :partial => 'shared/dashboard' %>