<% title "Pages" %>
<style>
  @import url("/page_report/design.css");
</style>
<script src="/behavior/reports.js"> </script>
  <header>
    <nav>
      <a href="#popular" class="selected">Popular</a>
      <a href="#profitable">Profitable</a>
      <a href="#search">Search</a>
    </nav>
    <h1>Pages</h1>
  </header>

  <ol id="popular" tabindex="1">
    <% @tips.each do |t| %>
    <li>
      <dl itemscope="true" itemtype="http://weave.us/page">
        <dt itemprop="page"><a href="<%=t.primary_locator.canonicalized %>"><%=h t.description %></a></dt>
        <dd itemprop="publisher"><a href="#">Gonzo publishing</a></dd>
        <dd itemprop="earned">$<%=h t.revenue_earned %> <span>earned</span></dd>
        <% if t.tips_earned != 0 %>
        <dd itemprop="average">$0.18 <%=h t.revenue_earned/t.tips_earned %> </dd>
        <% end %>
        <dd itemprop="tips"><%=h t.tips_earned %> <span>tips</span></dd>
      </dl>
    </li>
    <% end %>
  </ol>

  <ol id="profitable" tabindex="2">
    <% @revenue.each do |r| %>
    <li>
      <dl itemscope="true" itemtype="http://weave.us/page">
        <dt itemprop="page"><a href="<%=r.primary_locator.canonicalized %>"><%=h r.description %></a></dt>
        <dd itemprop="publisher"><a href="#">Gonzo publishing</a></dd>
        <dd itemprop="earned">$<%=h r.revenue_earned %> <span>earned</span></dd>
        <% if r.tips_earned != 0 %>
        <dd itemprop="average">$0.18 <%=h r.revenue_earned/r.tips_earned %> </dd>
        <% end %>
        <dd itemprop="tips"><%=h r.tips_earned %> <span>tips</span></dd>
      </dl>
    </li>
    <% end %>
  </ol>
