<% title "Site" %>
<style>
  @import url("/design/reports.css");
  @import url("/site_report/design.css");
</style>
<script src="/site_report/behavior.js"></script>
<header>
  <nav>
    <a href="#popular">Popular</a>
    <a href="#profitable" class="selected">Profitable</a>
    <a href="#">Search</a>
  </nav>
  <h1>Sites</h1>
</header>

<ol id="profitable" class="selected">
  <% @revenue.each do |r| %>
  <li>
    <dl itemscope="true" itemtype="http://weave.us/site">
      <dt item="site" itemprop="site"><a href="<%= r.fqdn %>" /><%=h r.fqdn %></a></dt>
      <dd itemprop="publisher"><a href="#">#publisher-name#</a></dd>
      <dd itemprop="earned">$<%=h r.revenue_earned %> <span>earned</span></dd>
      <% if r.tips_earned != 0%>
      <dd itemprop="average">$<%=h r.revenue_earned/r.tips_earned %> <span>average tip</span></dd>
      <%end%>
      <dd itemprop="tips"><%=h r.tips_earned %> <span>tips</span></dd>
    </dl>
  </li>
  <% end %>
</ol>

<ol id="popular">
  <% @tips.each do |t| %>
  <li>
    <dl itemscope="true" itemtype="http://weave.us/site">
      <dt itemprop="site"><a href="<%=h t.fqdn %>"><%=h t.fqdn %></a></dt>
      <dd itemprop="publisher"><a href="#">#publisher-name#</a></dd>
      <dd itemprop="earned">$<%=h t.revenue_earned %> <span>earned</span></dd>
      <dd itemprop="average">$<%=h t.revenue_earned/t.tips_earned %> <span>average tip</span></dd>
      <dd itemprop="tips"><%=h t.tips_earned %> <span>tips</span></dd>
    </dl>
  </li>
  <% end %>
</ol>
