<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= h(yield(:title) || "Untitled") %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
  <header>
    <p>Welcome to...</p>
    <h1>Tipper</h1>
  </header>
  <nav>
    <% if current_user %>
      <li><%= link_to "Edit Profile", edit_user_path(:current) %></li>
      <li><%= link_to "Logout", logout_path %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_path %></li>
      <li><%= link_to "Login", login_path %></li>
    <% end %>
  </nav>
  <section>
    <p style="color: green"><%= flash[:notice] %></p>
    <%= yield %>    
  </section>
  <footer>
    
  </footer>

</body>
</html>
