<!DOCTYPE html>
<html lang="en_US" xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <title>dirtywhitecouch.com</title>
    <style>
      @import url("/design/index.css");
    </style>
    <%= yield(:head) %>
    <%= csrf_meta_tag %>
    <script src="/behavior/jquery.js"></script>
    <script src="/behavior/resource.js"></script>
    <script src="/behavior/analytics.js"></script>
  </head>
  <body>
    <header>
      <a href="/"><img src="/graphics/logo/name/red.png" alt=""></a>
      <%= render :partial => 'shared/signin' %>
      <ol id="flash">
        <%- flash.each do |msg| -%>
          <li class="<%= msg[0]%>"><%= msg[1] %></li>
        <%- end -%>
      </ol>
    </header>
    <%= yield %>
    <footer>
      <nav>
        <a href="/about">about</a>
        <a href="/blog">blog</a>
        <a href="/authors">authors</a>
        <a href="/contact">contact</a>
        <a href="/privacy">privacy</a>
        <a href="/terms">terms</a>
      </nav>
    </footer>
    <!--[if IE]>
    <div id="ie">
      <h1>We support open source browsers</h1>
      <div>
        <a href="http://www.google.com/chrome">
          <img src="/graphics/chrome.png">
        </a>
        <a href="http://www.apple.com/safari/download/">
          <img src="/graphics/safari.png">
        </a>
        <a href="http://www.mozilla.org/en-US/firefox/new/">
          <img src="/graphics/firefox.png">
        </a>
      </div>
    </div>
    <![endif]-->
  </body>
</html>