<!DOCTYPE html>
<html lang="en_US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>dirtywhitecouch.com - <%= h(yield(:title) || "weave") %></title>
    <style>
      @import url("/design/index.css");
    </style>
    <script src="/behavior/jquery.js"></script>
    <%= yield(:head) %>
  </head>
  <body>
    <header>
      <a href="/">weave</a>
      <% if current_user %>
        <nav>
          <li><%= link_to current_user.username, edit_user_path(current_user) %></li>
          <li><%= link_to "My Tips", tips_path %></li>
          <li><%= link_to "Sign out", signout_path %></li>
        </nav>
      <% else %>
      
      <% end %>
      <ol>
        <%- flash.each do |name, msg| -%>
          <%- msg.each do |m| -%>
            <li><%= m %></li>
          <%- end -%>
        <%- end -%>
      </ol>
    </header>
    <%= yield %>
    <footer>
      <nav>
        <h2>Policies</h2>
        <%= link_to h("Terms & Conditions"), terms_path %>
        <%= link_to "Privacy",               privacy_path %>
      </nav>
      <nav>
        <h2>About</h2>
        <%= link_to "Contact",   contact_path %>
        <%= link_to "Subscribe", subscribe_path %>
      </nav>
      <nav>
        <h2>Blog</h2>
        <a href="/blog">ipseum doceous breasos rodesun</a>
        <a href="/blog">Loreum opseosis ipseum doceous</a>
      </nav>
    </footer>
  </body>
</html>