<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "layouts/application" %>
    <%= javascript_include_tag "layouts/application" %>
    <%= yield(:head) %>
  </head>
  <body>
    <header>
      <a href="/"><%= image_tag "logo/copper/copper.png" %></a>
      <%= render :partial => 'shared/signin' %>
      <%= render :partial => 'shared/flash',:object => flash %>
    </header>
    <%= yield %>
    <footer>
      <nav>
        <a href="/about">about</a>
        <a href="/blog">blog</a>
        <a href="/contact">contact</a>
        <a href="/privacy">privacy</a>
        <a href="/terms">terms</a>
      </nav>
    </footer>
    <%= render :partial => 'shared/ie' %>
  </body>
</html>