<!DOCTYPE html>
<html lang="en_US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "weave.us") %></title>
    <style>
      @import url("/design/index.css");
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
    <%= yield(:head) %>
  </head>
  <body>
    <header>
	  <a href="/">
        <img src="/graphics/fun_time.svg" alt="So fun!!!"/>
      </a>
      <nav>
        <% permitted_to? :home, :admin do %>
          <li><%= link_to "Admin",      admin_path %></li>
        <% end %>
        <li><%= link_to "Pages",      page_report_path %></li>
        <li><%= link_to "Sites",      publisher_report_path %></li>
        <li><%= link_to "Home",       root_path %></li>
        <li><a href="http://blog.fasterlighterbetter.com">Blog</a></li>
      </nav>
    </header>
    <section>
      <%- flash.each do |name, msg| -%>
        <%= content_tag :aside, msg, :id => "flash_#{name}" %>
      <%- end -%>

      <%= yield %>
    </section>
    <aside>
      <nav>
        <% if current_user %>
          <%= link_to "Edit Profile",      edit_user_path(current_user) %>
          <%= link_to "Logout",            logout_path %>
        <% else %>
          <%= link_to "Log in or sign up", login_path %>
        <% end %>
      </nav>
    </aside>
    <a href="/">
      <img item="logo" src="/graphics/logo.svg" alt="weave logo"/>
    </a>
    <footer>
      <nav>
        <h2>Policies</h2>
        <%= link_to h("Terms & Conditions"), terms_path %>
        <%= link_to "Privacy",               privacy_path %>
      </nav>
      <nav>
        <h2>About</h2>
        <%= link_to "Contact",   contact_path %>
        <%= link_to "Subscribe", feed_path %>
      </nav>
      <nav>
        <h2>News</h2>
        <a href="http://blog.fasterlighterbetter.com">ipseum doceous breasos rodesun</a>
        <a href="http://blog.fasterlighterbetter.com">Loreum opseosis ipseum doceous</a>
      </nav>
    </footer>
  </body>
  <% if RAILS_ENV == 'development' %>
    <developer>
      <nav>
        <button onclick="show_debug_popup(); return false;">Show debug popup</button>
        <%= debug_popup %>
      </nav>
    </developer>
  <% end %>
</html>