<!DOCTYPE html>
<html manifest='pages.appcache'>
  <head>
    <title>Copper</title>
    <%= csrf_meta_tag %>

    <%= render partial:"/link"%>
    <link rel="author"  href="http://twitter.com/copper_is">

    <%= render partial:"/meta"%>
    <meta property="fb:app_id" content="<%=Copper::Application.config.facebook_appid%>" />
    <meta property="og:type"   content="website" />
    <meta property="og:title"  content="copper.is – a currency of apreceation" />
    <meta property="og:image"  content="<%=image_path('icons/logo.svg')%>" />
    <meta name="keywords"      content="Copper.is, tip, gratitude, San Francisco, music, tipping, appreciation, copper">
    <meta name="description"   content="Copper. – Support artists through tipping.
                                                You find something cool anywhere online.
                                                You click a button to tip the content.We
                                                find the person who made it and pay them.">

    <%= stylesheet_link_tag "application", media:"screen" %>
    <%= javascript_include_tag "application" %>

  </head>
  <body class='<%=set_scope%>' data-role="guest">
    <%= render partial:"/header"%>
    <%= render partial:"/menu"%>
    <main>
      <%= yield %>
      <section itemprop type='users' itemid='/users'><%= render partial:"/current_user"%></section>
    </main>
    <%= render partial:"/footer"%>
  </body>
</html>
