<!DOCTYPE html>
<html lang="en_US" xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <title>dirtywhitecouch.com</title>
    <style>
      @import url("/design/index.css");
    </style>
    <script src="/behavior/jquery.js"></script>
    <script src="/behavior/resource.js"></script>
    <%= yield(:head) %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <header>
      <a href="/"><img src="/graphics/main_logo.png" alt=""></a>
      <% if current_user %>
        <hgroup>
          <h1><%= current_user.name %></h1>
          <nav>
            <%= link_to 'account', edit_user_path(current_user) %>
            <%= link_to "sign out", signout_path %>
            <%= link_to "tips", tips_path %>
          </nav>
        </hgroup>
      <% else %>
        <hgroup>
          <h1>Sign In</h1>
          <nav>
            <a href="/auth/twitter"><img src="/graphics/twitter_64.png" alt="Sign in with twitter"></a>
            <!-- <a href="/auth/facebook"><img src="/graphics/facebook_64.png" alt="Sign in with facebook"></a> -->
          </nav>
        </hgroup>
      <% end %>
      <ol id="flash">
        <%- flash.each do |msg| -%>
          <li class="<%= msg[0]%>"><%= msg[1] %></li>
        <%- end -%>
      </ol>
    </header>
    <%= yield %>
    <footer>
      <nav>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
        <a href="/terms">Terms</a>
        <a href="/privacy">Privacy</a>
      </nav>
    </footer>
    <!--[if IE]>
    <div id="ie" class="">
      <h1>Your browser sucks to work with</h1>
    </div>
    <![endif]-->
  </body>
</html>