<!DOCTYPE html>
<html>
  <head>
    <title><%= params[:action].parameterize%> - copper.is</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/assets/shared/favicon.ico?2=2"/>
    <link rel="author" href="https://twitter.com/copper_is">
    <meta name="google-site-verification" content="ajqm1UZuvVaocEm3g_dULtZtRdPxR5KVf6odfYyYQkQ" />
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "analytics" if Rails.env.production?%>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body id="<%= params[:controller].parameterize%>_<%= params[:action].parameterize%>" <%=item_scope%>>
    <header>
      <a href="/"><%= image_tag "icons/logo.svg", :title => "logo" %></a>
      <nav>
        <a href="http://blog.copper.is">our blog</a>
        <a href="/contact">contact</a>
      </nav>
      <hgroup id="signed_in">
        <nav>
          <%= link_to image_tag("icons/silhouette_white.svg"), '/fans/me', :title => "View profile" %>
          <%= link_to image_tag("icons/gear_white.svg"), '/fans/me/edit', :title => "Account settings"%>
        </nav>
        <%= image_tag "icons/silhouette.svg", class:"identity", alt:"me" %>
      </hgroup>
      <hgroup id='sign_in'>
        <nav>
          <h1>SIGN IN</h1>
          <a id="facebook_sign_in" href="/auth/facebook" title="sign in with facebook">
            <%= image_tag "providers/facebook/sign_in_mask.png" %>
            <%= image_tag "providers/facebook/sign_in.png", class:"hover" %>
          </a>
          <a id="twitter_sign_in" href="/auth/twitter" title="sign in with twitter">
            <%= image_tag "providers/twitter/sign_in_mask.png" %>
            <%= image_tag "providers/twitter/sign_in.png", class:"hover" %>
          </a>
          <a id="google_sign_in" href="/auth/google_oauth2" title="sign in with google">
            <%= image_tag "providers/google/sign_in_mask.png" %>
            <%= image_tag "providers/google/sign_in.png", class:"hover" %>
          </a>
        </nav>
      </hgroup>
    </header>
    <%= yield %>
    <footer>
      <h3>Copper, Inc</h3>
      <nav>
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms of Use</a>
        <a href="/signout">Sign Out</a>
      </nav>
      <h4>Copyright © 2012 Copper Inc. All rights reserved</h4>
    </footer>
    <%= render :partial => 'shared/ie' %>
  </body>
</html>
