<!DOCTYPE html>
<html manifest='/pages/collection.appcache'>
  <head>
    <title>Copper</title>
    <%= csrf_meta_tag %>
    <%= render partial:"/link"%>
    <%= render partial:"/meta"%>
    <%= stylesheet_link_tag "application", media:"screen" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body class='<%=set_scope%>' data-role="guest">
    <%= render partial:"/header"%>
    <%= render partial:"/menu"%>
    <main>
      <%= yield %>
    </main>
    <%= render partial:"/footer"%>
  </body>
</html>
