<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/assets/shared/favicon.ico">
    <link rel="icon" href="https://www.copper.is/assets/icons/logo.svg" type="image/svg">
    <link rel="author" href="https://twitter.com/copper_is">
    <link rel="apple-touch-icon" type="image/svg" itemprop="thumbnailUrl" href="https://www.copper.is/assets/icons/watermark.svg">
    <link rel="logo" type="image/svg" href="https://www.copper.is/assets/icons/logo.svg">
    <meta name="application-name" content="Copper.is">
    <meta name="keywords" content="Copper.is San Francisco, Music, Tipping, appreciation, copper">
    <meta name="description" content="Copper – the currency of appreceation . With width the copper extension installed you can tip any URL on the web. Fans can connect directly with Artists, authors, and musicians. check out our blog at blog.copper.is">
    <%= stylesheet_link_tag "application", media:"all" %>
    <link href='https://fonts.googleapis.com/css?family=Cantarell|Nothing+You+Could+Do|Doppio+One|Bree+Serif|Patua+One' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body id="<%= params[:controller].parameterize%>_<%= params[:action].parameterize%>" <%=item_scope%>>
    <header>
      <a href="/"><%= image_tag "icons/logo_light.svg", :title => "logo" %></a>
      <nav>
        <a href="http://blog.copper.is">our blog</a>
        <a href="/contact">contact</a>
        <a href="/signout">Sign Out</a>
      </nav>
      <hgroup id="signed_in">
        <nav>
          <%= link_to image_tag("icons/silhouette_white.svg"), '/author', :title => "Who's tipping you" %>
          <%= link_to image_tag("icons/gear_white.svg"), '/settings', :title => "Account settings"%>
        </nav>
        <%= image_tag "icons/silhouette.svg", class:"identity", alt:"me" %>
      </hgroup>
      <hgroup id='sign_in'>
        <nav>
          <h1>SIGN IN</h1>
          <a id="facebook_sign_in" href="/auth/facebook" title="sign in with facebook">
            <%= image_tag "providers/facebook/sign_in_mask.png" %>
            <%= image_tag "providers/facebook/sign_in.png", class:"hover" %>
          </a>
          <a id="twitter_sign_in" href="/auth/twitter" title="sign in with twitter">
            <%= image_tag "providers/twitter/sign_in_mask.png" %>
            <%= image_tag "providers/twitter/sign_in.png", class:"hover" %>
          </a>
          <a id="google_sign_in" href="/auth/google_oauth2" title="sign in with google">
            <%= image_tag "providers/google/sign_in_mask.png" %>
            <%= image_tag "providers/google/sign_in.png", class:"hover" %>
          </a>
        </nav>
      </hgroup>
    </header>
    <%= yield %>
    <footer>
      <h3>Copper, Inc</h3>
      <nav>
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms of Use</a>
      </nav>
      <h4>Copyright © 2012 Copper Inc. All rights reserved</h4>
    </footer>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "analytics" if Rails.env.production? %>
  </body>
</html>
