<!DOCTYPE html>
<html lang="en_US" xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta name="google-site-verification" content="hYO-TI12-3_8evWkUu0XoheN8yV4UcbX83AqxCMQtVI" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>dirtywhitecouch.com</title>
    <style>
      @import url("/design/index.css");
    </style>
    <script src="/behavior/jquery.js"></script>
    <script src="/behavior/resource.js"></script>
    <%= yield(:head) %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <!--[if IE]>
      <script type="text/javascript"
       src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

      <style>
       .chromeFrameInstallDefaultStyle {
         width: 100%; /* default is 800px */
         border: 5px solid blue;
       }
      </style>

      <div id="prompt">

      </div>

      <script>
       window.attachEvent("onload", function() {
         CFInstall.check({
           mode: "inline",
           node: "prompt",
           destination: "http://dirtywhitecouch.com"
         });
       });
      </script>
    <![endif]-->
    <header>
      <a href="/"><img src="/graphics/main_logo.png" alt=""></a>
      <% if current_user %>
        <hgroup>
          <h1><%= current_user.name %></h1>
          <nav>
            <%= link_to 'account', edit_user_path(current_user) %>
            <%= link_to "sign out", signout_path %>
            <%= link_to "Tips", tips_path %>
          </nav>
        </hgroup>
      <% else %>
        <hgroup>
          <h1>Sign In</h1>
          <nav>
            <a href="/auth/twitter"><img src="/graphics/twitter_64.png" alt="Sign in with twitter"></a>
          </nav>
        </hgroup>
      <% end %>
      
      <ol id="flash">
        <%- flash.each do |msg| -%>
          <li class="<%= msg[0]%>"><%= msg[1] %></li>
        <%- end -%>
      </ol>
    </header>
    <%= yield %>
    <footer>
      <nav>
        <a href="/terms">Terms of Service</a>
        <a href="/privacy">Privacy Policy</a>
        <a href="/blog">Blog</a>
        <a href="/contact">Contact</a>
      </nav>
    </footer>
  </body>
</html>