<!DOCTYPE html>
<html lang="en_US" xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta name="google-site-verification" content="hYO-TI12-3_8evWkUu0XoheN8yV4UcbX83AqxCMQtVI" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title><%= h(yield(:title) || "Home") %> - dirtywhitecouch.com</title>
    <style>
      @import url("/design/index.css");
    </style>
    <script src="/behavior/jquery.js"></script>
    <%= yield(:head) %>
  </head>
  <body>
    <!--[if IE]>
      <script type="text/javascript"
       src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

      <style>
       .chromeFrameInstallDefaultStyle {
         width: 100%; /* default is 800px */
         border: 5px solid blue;
       }
      </style>

      <div id="prompt">

      </div>

      <script>
       window.attachEvent("onload", function() {
         CFInstall.check({
           mode: "inline",
           node: "prompt",
           destination: "http://dirtywhitecouch.com"
         });
       });
      </script>
    <![endif]-->

    <header>
      <a href="/">dwc</a>
      <% if current_user %>
        <nav>
          <li><%= link_to current_user.username, edit_user_path(current_user) %></li>
          <li><%= link_to "Sign out", signout_path %></li>
        </nav>
      <% end %>
      <ol>
        <%- flash.each do |name, msg| -%>
          <%- msg.each do |m| -%>
            <li><%= m %></li>
          <%- end -%>
        <%- end -%>
      </ol>
    </header>
    <%= yield %>
    <footer>
      <nav>
        <h2>Policies</h2>
        <%= link_to h("Terms & Conditions"), terms_path %>
        <%= link_to "Privacy",               privacy_path %>
      </nav>
      <nav>
        <h2 id="blog">Blog</h2>
        <a href="/blog#hello_world">hello world</a>
      </nav>
      <nav id="contact">
        <h2><a href="mailto:us@dirtywhitecouch.com">Contact</a></h2>
      </nav>
    </footer>


  </body>
</html>