<!DOCTYPE html>
<html lang="en_US" xmlns="http://www.w3.org/1999/xhtml" >
  <head>
    <meta name="google-site-verification" content="hYO-TI12-3_8evWkUu0XoheN8yV4UcbX83AqxCMQtVI" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>dirtywhitecouch.com</title>
    <style>
      @import url("/design/index.css");
    </style>
    <script src="/behavior/jquery.js"></script>
    <%= yield(:head) %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <!--[if IE]>
      <script type="text/javascript"
       src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

      <style>
       .chromeFrameInstallDefaultStyle {
         width: 100%; /* default is 800px */
         border: 5px solid blue;
       }
      </style>

      <div id="prompt">

      </div>

      <script>
       window.attachEvent("onload", function() {
         CFInstall.check({
           mode: "inline",
           node: "prompt",
           destination: "http://dirtywhitecouch.com"
         });
       });
      </script>
    <![endif]-->
    <header>
      <a href="/"><img src="/graphics/main_logo.png" alt=""></a>
      <% if current_user %>
        <nav>
          <li><%= link_to current_user.username, edit_user_path(current_user) %></li>
          <li><%= link_to "Sign out", signout_path %></li>
        </nav>
      <% end %>
      <hgroup>
        <h1><a id="blog" href="/blog">Blog</a></h1>
        <h1><a id="contact" href="mailto:us@dirtywhitecouch.com">Contact</a></h1>
        <% if current_user %>
          <h1 id=""><%= link_to "My Tips", tips_path %></h1>
        <% end %>
      </hgroup>
      <ol id="flash">
        <%- flash.each do |msg| -%>
          <li class="<%= msg[0]%>"><%= msg[1] %></li>
        <%- end -%>
      </ol>
    </header>
    <%= yield %>
    <footer></footer>
  </body>
</html>