<!DOCTYPE html>
<html>
  <head>
    <title>Copper.is – The currency of appreciation</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="<%=image_path('icons/favicon.ico')%>">
    <link rel="icon"      type="image/svg"  href="<%=image_path('icons/logo.svg')%>" >
    <link rel="image_src" type="image/svg" href="<%=image_path('icons/logo.svg')%>">
    <link rel="logo"      type="image/svg" type="image/svg" href="<%=image_path('icons/logo.svg')%>">
    <link rel="author" href="https://twitter.com/copper_is">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/aoioappfaobhjafcnnajbndogjhaodpb">
    <%= stylesheet_link_tag "application", media:"all" %>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Cantarell|Nothing+You+Could+Do|Doppio+One|Bree+Serif|Patua+One' >
    <%= csrf_meta_tag %>
    <meta name="google-site-verification" content="ajqm1UZuvVaocEm3g_dULtZtRdPxR5KVf6odfYyYQkQ">
    <meta name="application-name" content="Copper.is">
    <meta property="og:image" content="<%=image_path('icons/logo.svg')%>">
    <meta name="keywords" content="Copper.is San Francisco, music, tipping, appreciation, copper">
    <meta name="description" content="Copper. – Support artists through tipping.
       You find something cool anywhere online. You click a button to tip the content.
       We find the person who made it and pay them.">
  </head>
  <body id="<%= params[:controller].parameterize%>_<%= params[:action].parameterize%>" <%=item_scope%>>
    <header>
      <a href="/"><%= image_tag "icons/logo_light.svg", :title => "logo" %></a>
      <nav>
        <a href="http://blog.copper.is">our blog</a>
        <a href="/contact">contact</a>
        <a href="/signout">Sign Out</a>
      </nav>
      <hgroup id="user_nav">
        <nav>
          <%= link_to image_tag("noun_project/7719.svg"), '/author', title:"Who's tipping you" %>
          <%= link_to image_tag("icons/gear_white.svg"), '/settings', :title => "Account settings"%>
        </nav>
        <%= image_tag "icons/silhouette.svg", class:"author", alt:"me" %>
      </hgroup>
     </header>
    <%= yield %>
    <footer>
      <h3>Copper, Inc</h3>
      <nav>
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms of Use</a>
      </nav>
      <h4>Copyright © 2012 Copper Inc. All rights reserved</h4>
    </footer>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "analytics" if Rails.env.production? %>
  </body>
</html>
