<!DOCTYPE html>
<html lang="en_US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "weave.us") %></title>
    <style>
      @import url("/design/index.css");
    </style>
    <script src="/behavior/jquery.js"></script>
    <%= yield(:head) %>
  </head>
  <body>
    <header>
      <a href="/">
        <img src="/graphics/fun_time.svg" alt="So fun!!!"/>
      </a>
      <nav>
        <% permitted_to? :home, :admin do %>
          <li><%= link_to "Admin",      admin_path %></li>
        <% end %>
        <li><%= link_to "Pages",      pages_report_path %></li>
        <li><%= link_to "Sites",      sites_report_path %></li>
        <li>
          <% if current_user %>
            <%= link_to "Home",       tips_path %>
          <% else %>
            <%= link_to "Home",       root_path %>
          <% end %>
        </li>
        <li><a href="http://blog.fasterlighterbetter.com">Blog</a></li>
      </nav>
    </header>
    <section>
      <header>
        <%- flash.each do |name, msg| -%>
            <%= "<ol id=#{name}" %>
              <%- msg.each do |m| -%>
                <li><%= m %></li>
              <%- end -%>
            </ol>
        <%- end -%>
      </header>
      <%= yield %>
    </section>
    <aside id="account" itemscope="true" itemtype="http://weave.us/User#account">
      <header>
        <h1 itemprop="name">
          <% if current_user %>
            <%= "Logged in as: #{current_user.email}" %>
          <% end %>
        </h1>
        <nav>
          <% if current_user %>
            <%= link_to "Account",      edit_user_path(current_user) %>
            <%= link_to "Sign out",            logout_path %>
            <% permitted_to? :home, :admin do %>
              <li><%= link_to "Admin Panel",      admin_path %></li>
            <% end %>
          <% else %>
            <%= link_to "Log in or sign up", login_path %>
          <% end %>
        </nav>
      </header>
      <dl>
        <% if current_user %>
          <% if current_user.funds_for_tipping? %>
            <dt>Pays out in</dt>
            <dd itemprop="billing_period">14<span itemprop="interval">days</span></dd>
            <dt>Balance</dt>
            <dd itemprop="balance"><span itemprop="currency">$</span><%= cents_to_dollars(current_user.active_tip_bundle.allocated_funds) %></dd>
            <dt><%= link_to "Tips", tips_path %></dt>
            <dd itemprop="tips"><%= link_to current_user.active_tips.count, tips_path %></dd>
            <dt>Spread</dt>
            <dd itemprop="distribution"><span itemprop="currency">$</span><%= cents_to_dollars(current_user.active_tip_bundle.cents_per_tip_point) %></dd>
          <% else %>
            <%= link_to t("weave.no_funds_for_tipping"), new_order_path %>
          <% end %>
        <% end %>
      </dl>
    </aside>
    <figure accesskey="l" tabindex="2" id="weave_logo">

      <img item="logo" src="/graphics/logo.svg" alt="weave logo"/>
    </figure>
    <footer>
      <nav>
        <h2>Policies</h2>
        <%= link_to h("Terms & Conditions"), terms_path %>
        <%= link_to "Privacy",               privacy_path %>
      </nav>
      <nav>
        <h2>About</h2>
        <%= link_to "Contact",   contact_path %>
        <%= link_to "Subscribe", feed_path %>
      </nav>
      <nav>
        <h2>News</h2>
        <a href="http://blog.fasterlighterbetter.com">ipseum doceous breasos rodesun</a>
        <a href="http://blog.fasterlighterbetter.com">Loreum opseosis ipseum doceous</a>
      </nav>
    </footer>
  </body>
  <% if RAILS_ENV == 'development' %>
    <developer>
      <nav>
        <button onclick="show_debug_popup(); return false;">Show debug popup</button>
        <%= debug_popup %>
      </nav>
    </developer>
  <% end %>
</html>