<!DOCTYPE html>
<html>
  <head>
    <title><%= params[:action].parameterize%> - copper.is making the magic your friend and holding your hand for ever people love chickens "lots of chickens" and 'little monkeys' i like to move it, i like to move it</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/assets/favicon.ico"/>
    <%= stylesheet_link_tag "layouts/application" %>
    <%= javascript_include_tag "layouts/application" %>
    <%= javascript_include_tag "shared/analytics" if Rails.env.production?%>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body id="<%= params[:controller].parameterize%>_<%= params[:action].parameterize%>" <%=item_scope%>>
    <header>
      <a href="/"><%= image_tag "icons/logo.svg", :title => "logo" %></a>
      <nav>
        <a href="/how">how it works</a>
        <a href="/button">get the button</a>
        <a href="/about">about us</a>
        <a href="http://blog.copper.is">our blog</a>
      </nav>

      <% if current_user %>
        <hgroup id="signed_in">
          <nav>
            <%= link_to image_tag("icons/silhouette.svg"), user_path(current_user), :title => "View profile" %>
            <%= link_to image_tag("icons/gear.svg"), edit_user_path(current_user), :title => "Account settings"%>
          </nav>
          <%= image_tag current_user.identities.first.image %>
        </hgroup>
      <% else %>
        <hgroup id='sign_in'>
          <nav>
            <h1>SIGN IN</h1>
            <a id="facebook_sign_in" href="/auth/facebook"><%= image_tag "providers/fb.png" %></a>
            <a id="twitter_sign_in" href="/auth/twitter"><%= image_tag "providers/twitter.png" %></a>
            <a id="google_sign_in" href="/auth/google_oauth2"><%= image_tag "providers/g+.png" %></a>
          </nav>
        </hgroup>
      <% end %>
    </header>
    <ol id="message">
      <%- flash.each do |msg| -%>
        <li class="<%= msg[0]%>"><%= msg[1] %></li>
      <%- end -%>
    </ol>
    <%= yield %>
    <footer>
      <h3>Copper, Inc</h3>
      <nav>
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms of Use</a>
        <a href="/faq">FAQ</a>
        <a href="/signout">Sign Out</a>
      </nav>
      <h4>Copyright © 2012 Copper Inc. All rights reserved</h4>
    </footer>
    <%= render :partial => 'shared/ie' %>
  </body>
</html>