<!DOCTYPE html>
<html lang="en_US" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "weave.us") %></title>
    <style>
      @import url("/design/index.css");
    </style>
    <script src="/behavior/jquery.js"></script>
    <%= yield(:head) %>
  </head>
  <body>
    <div>
      <% if current_user %>
        <%= link_to "My Tips", tips_path %>
        <span><%= current_user.email %></span>
        <%= link_to "Settings", edit_user_path(current_user) %>
        <%= link_to "Sign out", logout_path %>
        
        <% permitted_to? :home, :admin do %>
          <%=link_to "Admin", admin_path %>
        <% end %>

      <% else %>
        <%= link_to "Sign in or sign up", login_path %>
      <% end %>
    </div>
    <header>
      <a href="/">
        <img src="/graphics/fun_time.svg" alt="So fun!!!"/>
      </a>
      <ol>
        <%- flash.each do |name, msg| -%>
          <%- msg.each do |m| -%>
            <li><%= m %></li>
          <%- end -%>
        <%- end -%>
      </ol>
    </header>
    <%= yield %>
    <footer>
      <nav>
        <h2>Policies</h2>
        <%= link_to h("Terms & Conditions"), terms_path %>
        <%= link_to "Privacy",               privacy_path %>
      </nav>
      <nav>
        <h2>About</h2>
        <%= link_to "Contact",   contact_path %>
        <%= link_to "Subscribe", subscribe_path %>
      </nav>
      <nav>
        <h2>Blog</h2>
        <a href="/blog">ipseum doceous breasos rodesun</a>
        <a href="/blog">Loreum opseosis ipseum doceous</a>
      </nav>
    </footer>
  </body>
</html>