<!DOCTYPE html>
<html manifest='<%=cache_url%>'>
  <head>
    <title>Copper</title>
    <%= csrf_meta_tag %>
    <%= render partial:"application/link" %>
    <%= render partial:"application/meta" %>
    <%= stylesheet_link_tag "application", media:"screen" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body class='<%=page_scope%>'>
    <%= render partial:"/application/header" %>
    <%= render partial:"/application/menu" %>
    <main>
      <%= yield %>
    </main>
    <%= render partial:"/application/footer" %>
  </body>
</html>
