<!DOCTYPE html>
<html>
  <head>
    <title>copper.is</title>
    <meta charset="utf-8">
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "layouts/button" %>
    <%= javascript_include_tag "layouts/button" %>
    <%= javascript_include_tag "shared/analytics" if Rails.env.production?%>
    <%= yield(:head) %>
  </head>
  <body id="button">
    <%= yield %>
  </body>
</html>