<html lang="en_us">
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
