<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "tips/new" %>
    <%-if Rails.env.test?-%>
      <%= stylesheet_link_tag "test", media:"all" %>
    <%-end-%>
  </head>
  <body id="tips_new" itemscope itemtype='tips' itemid="new">
    <%= yield %>
    <%= javascript_include_tag "tips/new" %>
  </body>
</html>
