<!DOCTYPE html>
<html lang="en_us" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'reset', 'error', 'layout', 'formtastic', 'formtastic_changes'  %>
    <%= yield(:head) %>
  </head>
  <body id="container">
    <header>
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      <nav>
      </nav>
    </header>
    <section>
      <aside id="response_messages">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>
      </aside>
      <%= yield %>
    </section>
  

      <style type="text/css" media="screen">
        section.debug_info h1 {
          font-weight: bold;
          font-size: 1.25em;
          margin-bottom: 1em;
          color:blue;
        }

        section.debug_info h2 {
          font-weight:bold;
          color:silver;
        }

        section.debug_info dl {
          margin-left:1em;

        }
        section.debug_info dl dt {
          width:20%;
          font-weight:bold;
          display:inline-block;
          color:silver;
        }

        section.debug_info dl dd{
          float:right;
          width:70%;
          color:silver;
        }
      </style>

      <section class="debug_info">
        <h1>Session information</h1>
        <dl>
          <% session.each do |param| %>
            <dt><%= param[0] %></dt>
            <dd><%= param[1].inspect %></dd>
          <% end %>
        </dl>
      </section>
      <section class="debug_info">
        <h1>Request information</h1>

        <h2>path</h2>
        <dl>
          <% request.path_parameters.each do |param| %>
            <dt><%= param[0] %></dt>
            <dd><%= param[1].inspect %></dd>
          <% end %>
        </dl>
        <h2>parameters</h2>
        <dl>
          <% request.request_parameters.each do |param| %>
            <dt><%= param[0] %></dt>
            <dd><%= param[1].inspect %></dd>
          <% end %>
        </dl>
        <h2>query info</h2>
        <dl>
          <% request.query_parameters.each do |param| %>
            <dt><%= param[0] %></dt>
            <dd><%= param[1].inspect %></dd>
          <% end %>
        </dl>
      </section>
    <footer>
      <address>
        
      </address>
    </footer>
    
  </body>
</html>