<!DOCTYPE html>
<html lang="en_us" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'reset', 'error', 'layout', 'formtastic', 'formtastic_changes'  %>
    <%= yield(:head) %>
  </head>
  <body id="container">
    <header>
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      <nav>
      </nav>
    </header>
    <section>
      <aside id="response_messages">
        <%- flash.each do |name, msg| -%>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <%- end -%>
      </aside>
      <%= yield %>
    </section>
  
    <% if RAILS_ENV == 'development' %>
    <center><button onclick="show_debug_popup(); return false;">Show debug popup</button></center>
    <%= debug_popup %>
    <% end %>
    <footer>
      <address>
      </address>
    </footer>
  </body>
</html>