<% title "Edit Account" %>
<section>
  <header>
    <h1>Edit Account</h1>
    <nav>
      <%= link_to "Show", @account %>
      <%= link_to "View All", accounts_path %>
    </nav>    
  </header>
  <%= render :partial => 'form' %>    
  <footer>
    <nav>
      <%= link_to "Show", @account %>
      <%= link_to "View All", accounts_path %>
    </nav>    
  </footer>
</section>



