<% title "Account Info" %>

<section>
  <header>
    <h1><%= :title %></h1>
    <nav>
      <%= link_to "Edit", edit_account_path(@account) %> |
      <%= link_to "Destroy", @account, :confirm => 'Are you sure?', :method => :delete %> |
      <%= link_to "View All", accounts_path %>
    </nav>
  </header>
  <dl>
    <dt>First name</dt>
    <dd><%=h @account.first_name %></dd>

    <dt>Last name</dt>
    <dd><%=h @account.last_name %></dd>

    <dt>Type</dt>
    <dd><%=h @account.card_type %></dd>

    <dt>Number</dt>
    <dd><%=h @account.number %></dd>

    <dt>Verification</dt>
    <dd><%=h @account.verification_value %></dd>
    
    <dt>Expiration date</dt>
    <dd><%=h @account.card_expires_on %></dd>
    
  </dl>
  <footer>
    <nav>
      <%= link_to "Edit", edit_account_path(@account) %> |
      <%= link_to "Destroy", @account, :confirm => 'Are you sure?', :method => :delete %> |
      <%= link_to "View All", accounts_path %>
    </nav>
  </footer>
</section>